﻿@using Xlnc.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content
{

    <style type="text/css">
        .inner-panel {
                width : 742px;
                margin :0 auto;
            }
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
      @using (Html.BeginForm("Create", "Insurance", FormMethod.Post, new { @class = "form" }))
      {
         // var receipt = Model.ReceiptData;
    <div class="inner-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a href="@Url.Action("Index", "Insurance")">Insurance</a> &raquo; Create      
                        </h4>
                    </div>
                    <div class="col-md-6 right">
                        <!--<a href="@Url.Action("Create", "Insurance", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>-->
                        @*<button type="submit" class="btn">Save Receipt</button>*@
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
            <div>@Html.Raw(ViewBag.Message)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Policy No: </label>
                            <input type="text" name="PolicyNo" id="PolicyNo" value="" class="form-control" placeholder="" required />
                        </div>
                        </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Member No: </label>
                            <input type="text" name="MemberNo" id="MemberNo" value="" class="form-control" placeholder="" required/>
                            <input type="hidden" name="InsuranceID" id="InsuranceID" value=""/> 
                            <input type="text" name="MemberID" id="MemberID" value="" />
                            
                         </div>
                    </div>
                    <div class="col-md-4">
                        @*<span class="center-button" style="border: 1px solid #777">Insurance Receipt</span>*@
                        
                        <div class="input-group">
                            <label class="input-group-addon">Receipt Date</label>
                            <input type="text" name="ReceiptDate" class="form-control datepicker" value="@DateTime.Now.ToShortDateString()" />
                            </div>
                        </div>
                    <div class="clearfix">&nbsp;</div>

                    <div class="col-md-4">
                        <div class="input-group">
                            <!--<label class="input-group-addon">Receipt No: </label>
                            <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="" class="form-control" placeholder="" />-->
                    </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <br />
                    <div class="col-md-12">
                        Name:
                        <input type="text" name="MemberName" id="MemberName" value="" class="form-control" readonly="readonly"/>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    @*<div class="col-md-6">DateofBirth
                        <input type="text" name="DateOfBirthStr" id="DateOfBirthStr" value="" class="form-control" readonly="readonly"/>
                    </div>*@
                    <div class="col-md-6">
                        <span class="glyphicon glyphicon-earphone"></span>
                        <input type="text" name="MobileNo" id="MobileNo" value="" class="form-control" readonly="readonly"/>
                    </div>  
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-6">
                       Nominee Name :
                        <input type="text" name="NomineeName" id="NomineeName" value="" class="form-control" />
                    </div> <div class="col-md-6">
                       Nominee Relationship :
                        <input type="text" name="Relationship" id="Relationship" value="" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <!--<div class="col-md-12">
                        Address :
                        <input type="text" name="Address" id="Address" value="" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>-->
                    <div class="col-md-12">
                    Received with thanks, the Insurance fees of rupees <input type="text" name="AmountInWords" id="AmountInWords" value="" placeholder="Enter the Amount in words"/>
                    <input type="hidden" class="form-control" value="Cash" name="PaymentMode" />
                    </div>
                    <div class="col-md-6">
                       <strong>Rs.</strong><input type="number" name="PaidAmount" size="3"  value="" maxlength="3" required/>&nbsp;/-
                    </div>
                    <div class="col-md-6">
                         <button type="submit" class="btn pull-right">Save Receipt</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
      }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
           
           /* GetReceiptNo();
            function GetReceiptNo() {
                $.ajax({
                    url: 'Url.Action("GetInitialNo", "InitialNo")?ResourceType=' + "Receipt",
                    success:function(receiptno) {
                       if (!receiptno == 'NULL' || !receiptno == '') {
                           // alert("Result =" + receiptno.ResourceType);
                            $("#ReceiptNo").val(receiptno.LastNo);
                        }
                     }
                });
            }*/
            ReceiptYear();
            function ReceiptYear() {
                var fromyear = $("#ReceiptFromYear").val();
                var toyear = $("#ReceiptToYear").val();
               // alert("");
                if ((fromyear == '') && (toyear == '')) {
                    @{  string year = @DateTime.Now.Year.ToString();}
                    $("#ReceiptFromYear").val(@year);
                    $("#ReceiptToYear").val(@year+1);
                      
                    
                }
            }
            $("#MemberNo").bind('keyup', function (event) {
                //$("input").val('');
                getMembershipNo(event);

            });
            function getMembershipNo(e) {
                //var trtObj = $(e.target).parent();
                $("#MemberNo").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMembershipNo", "Receipt")',
                            data: { term: request.term },
                            //dateType: JSON,
                            success: function (data) {
                                //alert("Success");
                                //data = JSON.stringify(data);
                                response($.map(data, function (item) {
                                                                      
                                    return {
                                        label: item.MemberNo + '--' + item.MemberName,
                                        value: item.MemberNo + '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.MobileNo + "--" + item.NomineeName + "--" + item.DateOfBirthStr + "--" + item.Relationship ,
                                        data: item
                                    }
                                  //  alert(label);
                                }));
                            }
                        });
                    },

                    select: function (event, ui) {
                        console.log(ui.item.value.split("--")[5]);
                       // var DOB = new Date(ui.item.membership.DateOfBirth);
                      // console.log(JSON.parse(ui.item.membership));
                       event.preventDefault();
                       $("#MemberNo").val(ui.item.data.MemberNo);
                       $("#MemberName").val(ui.item.data.MemberName);
                       //$("#Address").val(ui.item.data.);
                       $("#MobileNo").val(ui.item.data.MobileNo);
                       $("#MemberID").val(ui.item.data.MemberID);
                       $("#NomineeName").val(ui.item.data.NomineeName);
                       $("#DateOfBirthStr").val(ui.item.data.DateOfBirthStr);
                       $("#Relationship").val(ui.item.data.Relationship);

                      
                    }

                });
                
            }
        });

    </script>

}
  