﻿@model Xlnc.Models.InsuranceEditViewModel
@using Xlnc.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{

    <style type="text/css">
        .inner-panel {
                width : 742px;
                margin :0 auto;
            }
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
      @using (Html.BeginForm("Create", "Insurance", FormMethod.Post, new { @class = "form" }))
      {
          var insurance = Model.InsuranceData;
    <div class="inner-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a href="@Url.Action("Index", "Insurance")">Reciepts</a> &raquo; Edit      
                        </h4>
                    </div>
                    <div class="col-md-6 right">
                        <!--<a href="@Url.Action("Create", "Insurance", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>-->
                        @*<button type="submit" class="btn">Save Receipt</button>*@
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
            <div>@Html.Raw(ViewBag.Message)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <div class="input-group">
                                <label class="input-group-addon">Policy No: </label>
                                <input type="text" name="PolicyNo" id="PolicyNo" value="@insurance.PolicyNo" class="form-control" placeholder="" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Member No: </label>
                            <input type="text" name="MemberNo" id="MemberNo" value="@insurance.MemberNo" class="form-control" placeholder=""readonly/>
                            <input type="hidden" name="InsuranceID" id="InsuranceID" value="@insurance.InsuranceID"/> 
                            <input type="hidden" name="MemberID" id="MemberID" value="@insurance.MemberID" />
                            
                         </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                            <label class="input-group-addon">Receipt Date</label>
                            <input type="text" name="ReceiptDate" class="form-control" value="@insurance.ReceiptDate.ToShortDateString()" />
                       </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>

                    <div class="col-md-4">
                        <div class="input-group">
                            <!--<label class="input-group-addon">Receipt No: </label>
                            <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="" class="form-control" placeholder="" />-->
                    </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <br />
                    <div class="col-md-12">
                        Name:
                        <input type="text" name="MemberName" id="MemberName" value="@insurance.MemberName" class="form-control"readonly="readonly"/>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    @*<div class="col-md-6">DateofBirth
                        <input type="text" name="" id="" value="@insurance.DateOfBirth.ToString("dd/MM/yyyy")" class="form-control" readonly="readonly"/>
                        <input type="hidden" name="DateOfBirthStr" id="DateOfBirthStr" value="@insurance.DateOfBirth.ToString("dd/MM/yyyy")" class="form-control" />
                    </div>*@
                    <div class="col-md-6">
                        <span class="glyphicon glyphicon-earphone"></span>
                        <input type="text" name="PhoneNo" id="PhoneNo" value="@insurance.MobileNo" class="form-control"readonly="readonly" />
                    </div>  
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-6">
                         Nominee Name :
                        <input type="text" name="NomineeName" id="NomineeName" value="@insurance.NomineeName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                         Nominee Relationship :
                        <input type="text" name="Relationship" id="Relationship" value="@insurance.Relationship" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    @*<div class="col-md-12">
                        Address :
                        <input type="text" name="Address" id="Address" value="@insurance.Address" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>*@
                    <div class="col-md-12">
                         Received with thanks, the Insurance fees of rupees  <input type="text" name="AmountInWords" id="AmountInWords" value="@insurance.AmountInWords" placeholder="Enter the Amount in words"/>
                    <input type="hidden" class="form-control" value="Cash" name="PaymentMode" />
                    </div>
                     <div class="col-md-6">
                       <strong>Rs.</strong><input type="number" name="PaidAmount" size="3"  value="@insurance.PaidAmount" maxlength="3" required/>&nbsp;/-
                    </div>
                    <div class="col-md-6">
                         <button type="submit" class="btn pull-right">Save Receipt</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
      }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () 1{
           
           /* GetReceiptNo();
            function GetReceiptNo() {
                $.ajax({
                    url: 'Url.Action("GetInitialNo", "InitialNo")?ResourceType=' + "Receipt",
                    success:function(receiptno) {
                       if (!receiptno == 'NULL' || !receiptno == '') {
                           // alert("Result =" + receiptno.ResourceType);
                            $("#ReceiptNo").val(receiptno.LastNo);
                        }
                     }
                });
            }*/
            ReceiptYear();
            function ReceiptYear() {
                var fromyear = $("#ReceiptFromYear").val();
                var toyear = $("#ReceiptToYear").val();
               // alert("");
                if ((fromyear == '') && (toyear == '')) {
                    @{  string year = @DateTime.Now.Year.ToString();}
                    $("#ReceiptFromYear").val(@year);
                    $("#ReceiptToYear").val(@year);
                      
                    
                }
            }
            $("#MembershipNo").bind('keyup', function (event) {
                //$("input").val('');
                getMembershipNo(event);

            });
            function getMembershipNo(e) {
                //var trtObj = $(e.target).parent();
                $("#MembershipNo").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMembershipNo", "Receipt")',
                            data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {
                                                                      
                                    return {
                                        label: item.MembershipNo + '--' + item.MemberName,
                                        value: item.MembershipNo + '--' + item.MemberName+ '--' + item.StoreAddress+", " +item.StoreArea + ", "+ item.StoreCity+" - " +item.StorePincode + '--'+ item.PhoneNo + "--" + item.StoreName
                                    }
                                  //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                       $("#MembershipNo").val(ui.item.value.split("--")[0]);
                       $("#MemberName").val(ui.item.value.split("--")[1]);
                       $("#Address").val(ui.item.value.split("--")[2]);
                       $("#PhoneNo").val(ui.item.value.split("--")[3]);
                       $("#StoreName").val(ui.item.value.split("--")[4]);
                    }
                });
            }
        });

    </script>

}
  