﻿@model List<Xlnc.Models.Insurance>
 @{   
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
    <style>
          .page {
        width: auto;
        min-height: 297mm;
        padding: 12mm;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
      
    @@page {
        size: A4;
        /*margin: 10mm 20mm 20mm 5mm;*/
    }
    @@media print  {
       
        .page {
           /*margin: 40pt 80pt 20pt 40pt;*/
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
    </style>
    <div class="page">
    <div class="main-content">
    <div class="main-header">
       <!-- <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" alt="Logo" style="width:6%;"/>&nbsp;&nbsp;&nbsp;Motorcycle Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>-->
         <img src="~/Content/Images/Receipt_Header.jpg" class="Receipt_Header" alt="Receipt Header" />

        <p class="pull-right"><b>Date: @DateTime.Now.Date.ToString("dd/MM/yyyy")</b></p>
    </div>
    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="Receipt-table">
                                <thead>
                                    <tr>
                                        @*<th>Receipt No</th>*@
                                        <th>S.No</th>
                                        <th>MemberNo</th>
                                        <th>Member Name</th>
                                        <th>Date of Birth</th>
                                        <th>Nominee Name</th>
                                        <th>Nominee Relationship</th>
                                        <th>Paid Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Insurance in Model.Select((x,i) =>new {Data = x, Index = i+1}))
                                    {
                                        <tr>
                                           @*<td>@Insurance.InsuranceNo</td>*@
                                            <td>@Insurance.Index</td>
                                            <td>@Insurance.Data.MembershipNo</td>
                                            <td>@Insurance.Data.MemberName</td>
                                            <td>@Insurance.Data.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                            <td>@Insurance.Data.NomineeName</td>
                                            <td>@Insurance.Data.Relationship</td>
                                            <td ><span class="ReceiptAmount">@Insurance.Data.PaidAmount</span></td>
                                            @*<td>@Insurance.ReceiptDate.ToString("dd/MM/yyyy")</td>
                                            <td>@Insurance.ReceiptFromYear - @Insurance.ReceiptToYear</td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            Total Amount Received <b>Rs.<span class="TotalValue"></span></b>
                        </div>
    </div>
</div>
        </div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {
        //alert($("#ReceiptAmount").text() + " Receipt Amount");
        function CalculateTotalAmount() {
            // alert($(".ReceiptAmount").text() + " Receipt Amount");
            var total = 0;
            $(".ReceiptAmount").each(function () {
                //alert($(this).text());
                var receiptamount = $(this).text();
                
                total = total + parseFloat(receiptamount);
                //alert(total);
                //receiptamount = receiptamount + parseFloat($(this).find('.ReceiptAmount').length == 0 || !$(this).find('.ReceiptAmount').html() ? 0 : $(this).find('.ReceiptAmount').html());
                $('.TotalValue').html(total);
            });
            return total;
            $('.TotalValue').html(total);
           // alert(total);
        }
        CalculateTotalAmount();

        });
</script>