﻿@model Xlnc.Models.CategoryEditViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
    var category = Model.CategoryData;
}
@section Content
{

    <style type="text/css">
        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
    @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form" }))
    {
        // var receipt = Model.ReceiptData;
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="@Url.Action("Index", "Category")">Categories</a> &raquo; @(category.CategoryID > 0 ? "Edit" : "Create")
                </h4>
                <hr />
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><label for="CategoryName">Category Name</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="hidden" name="CategoryID" value="@category.CategoryID" />
                                                    <input type="text" name="CategoryName" id="CategoryName" value="@category.CategoryName" class="form-control focus" required />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="CategoryType">Category Type</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <select class="form-control" name="CategoryType" id="CategoryType">
                                                        <option value="Account">Account</option>
                                                        <option value="Receipt">Receipt</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg CreateMember">Save</button>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            @if (category.CategoryID > 0)
                {
                <text>
            $("#CategoryType").val("@category.CategoryType");
            </text>
                }
            });

    </script>

}
