﻿@model Xlnc.Models.CategoryListViewModel
@using Xlnc.Utils

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        .advanced-search {
            background-color : #eee;
        }
    </style>
    @using (Html.BeginForm("Index", "Category"))
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                     <div class="row">
                         <div class="col-md-6">
                            <h4>Category List </h4>
                        </div>
                         <div class="col-md-4">
                             <div class="input-group">
                                 <input type="text" name="Query" id="Query" value="" placeholder="Search categories... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                 @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                 <span class="input-group-btn">
                                     <button class="btn btn-default" type="submit">Go!</button>


                                 </span>
                             </div>
                         </div>  
                         <div class="col-md-2 right">
                             <a href="@Url.Action("Create", "Category")" class="btn btn-default">Create Category</a>
                         </div>
                         @*<div class="col-md-2">
                             <div class="btn-group">

                                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                     Print <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#" class="PrintMemberDetails" id="PrintAddress">Print Address</a></li>
                                     @*<li><a href="#" class="PrintMemberDetails" id="PrintDismissedList">Print Dismissed Member List</a></li>
                                 </ul>
                             </div>
                             @*<button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Download Form</button>
                         </div>*@   
                          @*<div class="col-md-2">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Print <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                    <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Receipt</a></li>
                                  </ul>
                                </div>
                            </div>*@
                    </div>
                </div>
              
            </div>
        </div>
          @*<div class="panel-body advanced-search">
                    <div class="col=md-12"> 
                        <div class="col-md-4">
                            <label for="FromDate">From Date</label>
                            <input type="text" class="datepicker" name="FromDate" id="FromDate"/>
                             @Html.TextBox("FromDateReturnValue", Request["FromDate"], new { @class = "form-control", @type="hidden" })
                        </div>
                        <div class="col-md-4">
                            <label for="ToDate">To Date</label>
                            <input type="text" class="datepicker" name="ToDate" id="ToDate"/>
                             @Html.TextBox("ToDateReturnValue", Request["ToDate"], new { @class = "form-control", @type="hidden" })
                        </div>
                        <div class="col-md-2">
                             <button class="btn btn-default"  type="submit">Go!</button>
                        </div>
                    </div>
         </div>*@
        <div class="panel-body">
             <div class="row">
                          <div class="col-md-7">

                                @Html.BootstrapPager(Model.Categories.CurrentPage,
                             index => Url.Action("Index",
                                                 "Category",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Categories.ItemsPerPage },
                                                     { "Query", Request["Query"] }
                                                 }),
                             Model.Categories.TotalItems,
                             Model.Categories.ItemsPerPage,
                             Model.Categories.TotalPages)
                            </div>
                          <div class="col-md-5">
                                Showing @Model.Categories.Items.Count of @Model.Categories.TotalItems member(s)
                            </div>
                        </div>
            <div class="row">
                  
                 <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Category Type</th>
                                        <th>Edit / Delete </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Category in Model.Categories.Items)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Edit", "Category", new {CategoryID = @Category.CategoryID})">@Category.CategoryName</a></td>
                                            <td>@Category.CategoryType</td>
                                           
                                            <td>
                                                <a href="@Url.Action("Edit", "Category", new {CategoryID = @Category.CategoryID})"><span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Edit" class="glyphicon glyphicon-edit"></span></a> /
                                                <a href="#" class="DeleteCategory"><input type="hidden" class="DeleteCategoryID" value="@Category.CategoryID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Delete" class="glyphicon glyphicon-trash"></span></a> 
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                          <div class="col-md-7">
                              @Html.BootstrapPager(Model.Categories.CurrentPage,
                             index => Url.Action("Index",
                                                 "Category",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Categories.ItemsPerPage },
                                                     { "Query", Request["Query"] }
                                                 }),
                             Model.Categories.TotalItems,
                             Model.Categories.ItemsPerPage,
                             Model.Categories.TotalPages)

                            </div>
                          <div class="col-md-5">
                                Showing @Model.Categories.Items.Count of @Model.Categories.TotalItems member(s)
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>                 
}
    }
@section Scripts {
     <script type="text/javascript">

         jQuery(document).ready(function () {
        
             $(".DeleteCategory").click(function () {
                 var CategoryID = $(this).find(".DeleteCategoryID").val();
                 if (confirm("Are you sure want to delete the Category ?")) {
                     $.ajax({
                         url: '@Url.Action("Delete", "Category")?CategoryID=' + CategoryID,
                         success: function (DeleteReceipt) {
                             location.reload();
                         }
                     });
                 } else {
                     return false;
                 }
             });

             var RequestQuery = $("#RequestQuery").val();
             if (RequestQuery != null) {
                 $("#Query").val(RequestQuery);
             }

          
         });
     </script>
}
  