﻿@using Xlnc.Utils
@{
    Layout = "~/Views/_Shared/_Master.cshtml";
}
<div class="main-content">
  
    <div class="main-header container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-lg-offset-4 ">
                <img src="~/Content/Images/logo.png" class="Receipt_Header" alt="Receipt Header" style="width: 30%;" />
                <div class="center"><b>Women's Hostel</b></div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <hr />
    </div>
    @{
        var Message = Auth.GetStatusMessage();
        var MessageStatus = Auth.GetMessageStatusType();
        Auth.EmptyStatusMessage();
        if (!String.IsNullOrEmpty(Message) && !String.IsNullOrEmpty(MessageStatus) && MessageStatus == "Warning")
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @Message
            </div>
        }
        if (!String.IsNullOrEmpty(Message) && String.IsNullOrEmpty(MessageStatus))
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Message
            </div>
        }
    }
    @RenderSection("Content")
    @RenderSection("scripts", required: false)
</div>
