﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    @RenderPage("~/Views/_Shared/_Scripts.cshtml")
    <!-- Association Manager Base Script> -->
   
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color:#1c2a33;">
            <ul class="sidebar-nav" style="margin-top:30px;">
                <li class="sidebar-brand">
                    <a href="#">
                        <span class="glyphicon glyphicon-home"></span> XLNC
                    </a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Dashboard/Index") ? "active" : "")">
                    <a  href="@Url.Action("Index", "Dashboard")"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Room/Index") ? "active" : "")">
                    <a href="@Url.Action("Index", "Room")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Room</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Members/Create") ? "active" : "")">
                    <a  href="@Url.Action("Create", "Members")"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registration</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Members/Index") ? "active" : "")">
                    <a  href="@Url.Action("Index", "Members")"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> Members</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Receipt") ? "active" : "")">
                    <a  href="@Url.Action("Create", "Receipt")"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Receipts</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Account/ExpenseIndex") ? "active" : "")">
                    <a  class="list-item" href="@Url.Action("ExpenseCreate", "Account")"><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> Expenses</a>

                </li>
                 <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Account/IncomeIndex") ? "active" : "")">
                    <a  class="list-item" href="@Url.Action("IncomeCreate", "Account")"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> Income</a>

                </li>
                 @*<li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Insurance") ? "active" : "")">
                    <a href="@Url.Action("Index", "Insurance")"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> Insurance</a>

                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Meeting") ? "active" : "")">
                    <a href="@Url.Action("Index", "Meeting")"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Meeting</a>

                </li>*@
               @*<li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Magazine") ? "active" : "")">
                   <a href="@Url.Action("Index", "Magazine")"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Xlnc Magazine</a>
               </li>*@
              <!--  <li>
                    <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a>
                </li>-->
                @*<li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Sms/SendSms") ? "active" : "")">
                    <a href="@Url.Action("SendSms", "Sms")"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Send SMS</a>
                </li>*@
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Category") ? "active" : "")">
                    <a href="@Url.Action("Create", "Category")"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>Category</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Report/Index") ? "active" : "")">
                    <a href="@Url.Action("Index", "Report")"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Reports</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("Backup/Create") ? "active" : "")">
                    <a href="@Url.Action("Create", "Backup")"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>Backup</a>
                </li>
                <li class="@(HttpContext.Current.Request.Url.AbsolutePath.ToString().Contains("User/Logout") ? "active" : "")">
                    <a href="@Url.Action("Logout", "User")"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a>
                </li>
            </ul>
            
        </div>
        
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="page-content-container">
                    @RenderBody()
                </div>
            </div>
            <br />
            <div class="footer">
                <p class="text-center">Powered By <a href="http://www.alobin.com" target="_blank">AloBin Technologies</a></p>
            </div>
        </div>

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
      /*   $('ul.sidebar-nav li a.list-item').click(function () {
            var url = window.location();
           $('ul.sidebar-nav li a[href="' + url + '"]').parent().addClass('active');
            $(this).toggleClass("active");
            $('ul.sidebar-nav li a').addClass("active");
        });*/
      /* $(function () {
            var pgurl = window.location.href.substr(window.location.href
       .lastIndexOf("/") + 1);
            alert(pgurl);
            $("ul.sidebar-nav li a").each(function () {
                if ($(this).attr("href") == pgurl || $(this).attr("href") == '')
                    $(this).addClass("active");
            })
        });*/
     /*   $('a.list-item').click(function () {
            $('a.list-item').removeClass("active");
            $(this).addClass("active");
        });*/

      /*  $(document).ready(function () {
            $('.sidebar-nav a[href^="/' + location.pathname.split("/")[1]+ '"]').addClass('active');
        });
      */

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
     
    </script>

</body>

</html>
