﻿    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/bootstrap-datepicker.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/jquery-ui.css")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery.datetimepicker.css")">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/simple-sidebar.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/bootstrap-select.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

    <!-- jQuery Version 1.11.0 -->
    <script src="@Url.Content("~/Content/js/jquery-1.11.0.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.num2words.js")"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.datetimepicker.full.min.js")"></script>
<script src="@Url.Content("~/Content/js/bootstrap-select.min.js")"></script>
    <!--<script src="@Url.Content("~/Content/js/bootstrap-datepicker.min.js")"></script>-->