﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xlnc</title>
    @RenderPage("~/Views/_Shared/_Scripts.cshtml")
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .login-background-img {
            background-image: url("@Url.Content("~/Content/Images/bg2.jpg")");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #Login-Page .panel-default > .panel-heading, #Login-Page .panel {
            /*background-color: transparent !important;*/
        }

        #Login-Page .btn-success {
            /*color: #fff;*/
            background-color: rgb(240, 172, 0);
            border-color: rgb(240, 172, 0);
        }

        #Login-Page input {
            background-color: rgba(0,0,0,0.1);
            /*color: #fff;*/
            border: none;
        }

        #Login-Page .btn-default {
            color: #333;
            background-color: #b8e4f7;
            border-color: #b8e4f7;
        }

        #Login-Page .login-failed {
            /*color: #fff;*/
        }
    </style>
</head>
<body class="login-background-img">
    <div class="container" id="Login-Page">
        <div class="row ">
            <div class="col-lg-6 col-lg-offset-" style="top:100px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title" style="font-size:14px;font-weight:bold;text-align:center;">

                            <img src="@Url.Content("~/Content/Images/logo.png")" alt="Receipt Header" style="width: 30%;" /><h4>Womens Hostel</h4>

                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" action="@Url.Action("Login", "User")" method="post">
                                <fieldset>
                                    <legend></legend>
                                    <p class="text-center login-failed"><span style="color:red;font-weight:bold">@ViewBag.Message</span></p>
                                    <div class="col-md-12">
                                        <div class="input-group form-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default form-control"><span class="glyphicon glyphicon-user"></span></span>
                                            </span>
                                            <input class="form-control" placeholder="Username" name="Username" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group form-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default form-control"><span class="glyphicon glyphicon-eye-close"></span></span>
                                            </span>
                                            <input class="form-control" placeholder="Password" name="Password" type="password" value="">
                                        </div>
                                    </div>
                                    @*
                                        <div class="error">
                                            <span style="color:red;font-weight:bold">@ViewBag.Message</span>
                                        </div>
                                    *@
                                    <div class="col-md-12">
                                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
