﻿@model List<Xlnc.Models.Account>
 @{   
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

    <div class="main-content">
    <div class="main-header container-fluid">
        <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" alt="Logo" style="width:6%;"/>&nbsp;&nbsp;&nbsp;Motorcycle Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>
    </div>
    <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <td>S.No</td>
                                                <th>Date</th>
                                                <th>Particulars</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var Account in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                                            {
                                                <tr>
                                                <td>@Account.Index</td>
                                                <td>@Account.Data.ReceiptDate.ToString("dd/MM/yyyy")</td>
                                                <td>@Account.Data.Reason</td>
                                                <td>@if(@Account.Data.PaymentType == "Debit"){<span class="DebitAmount">@Account.Data.Amount</span>}</td>
                                                <td>@if(@Account.Data.PaymentType == "Credit"){<span class="CreditAmount">@Account.Data.Amount</span>}</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="3"><b>Total</b></td>
                                                <td><b><span class="DebitTotal"></span></b></td>
                                                <td><b><span class="CreditTotal"></span></b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><b>Balance</b></td>
                                                <td colspan="2" style="text-align:center;"><b><span class="Balance"></span></b></td>
                                            </tr>
                                        </tbody>
                                       
                                    </table>
                                </div>
                            </div>
</div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {
        //alert($("#ReceiptAmount").text() + " Receipt Amount");
        function CalculateTotalAmount() {
            var debittotal = 0;
            var credittotal = 0;
            $(".DebitAmount").each(function () {
                var receiptamount = $(this).text();
                debittotal = debittotal + parseFloat(receiptamount);
                $('.DebitTotal').html(debittotal);
            });
            $(".CreditAmount").each(function () {
                //alert($(this).text());
                var receiptamount = $(this).text();
                credittotal = credittotal + parseFloat(receiptamount);
                $('.CreditTotal').html(credittotal);
            });
            var balance = parseFloat(credittotal) - parseFloat(debittotal);
            $('.Balance').html(balance);
        }
        CalculateTotalAmount();



































































        function CalculateGrandTotal() {
            var grandTotal = 0.0;
            $('#GridView1 tr:gt(0)').each(function () {
                grandTotal = grandTotal + parseFloat($(this).find('.totalPrice').length == 0 || !$(this).find('.totalPrice').html() ? 0 : $(this).find('.totalPrice').html());
            });
            $('#GridView1 .grandtotal').html(grandTotal);
        }
    });
</script>