﻿@model Xlnc.Models.AccountListViewModel
@using Xlnc.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <style type="text/css">
        .huge {
            font-size: 40px;
        }

        .dashboard-widget {
            height: 141px;
        }

        .panel-green {
            border-color: #5cb85c;
        }

            .panel-green .panel-heading {
                border-color: #5cb85c;
                color: #fff;
                background-color: #5cb85c;
            }

            .panel-green a {
                color: #5cb85c;
            }

                .panel-green a:hover {
                    color: #3d8b3d;
                }

        .panel-red {
            border-color: #d9534f;
        }

            .panel-red .panel-heading {
                border-color: #d9534f;
                color: #fff;
                background-color: #d9534f;
            }

            .panel-red a {
                color: #d9534f;
            }

                .panel-red a:hover {
                    color: #b52b27;
                }

        .panel-yellow {
            border-color: #f0ad4e;
        }

            .panel-yellow .panel-heading {
                border-color: #f0ad4e;
                color: #fff;
                background-color: #f0ad4e;
            }

            .panel-yellow a {
                color: #f0ad4e;
            }

                .panel-yellow a:hover {
                    color: #df8a13;
                }

        .dashboard-widget .glyphicon {
            font-size: 48px;
            top: 15px;
            left: 3px;
        }

        .rupeeimage {
            width: 28px;
            margin: 15px 0px 0px 3px;
        }

        .panel-address {
            border: 1px solid #0094ff;
        }

        .panel-member-list {
            border: 1px solid #0094ff;
        }

        .panel-single-receipt {
            border: 1px solid #0094ff;
        }

        .panel-receipt-list {
            border: 1px solid #0094ff;
        }
    </style>
    <div class="page-body">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><span class="memberscount"></span></div>
                            <div>Total Guests</div>

                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Members")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-saved"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><span class="receiptscount"></span><span></span></div>

                            <div>Total Receipt For this month</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Receipt")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-yellow dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <img class="rupeeimage" src="~/Content/Images/rupee.png" alt="rupees">
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge"> <span class="receivedamount"></span></div>
                            <div class="small">Total Amount Received for this month</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Receipt")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-red dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge"> <span class="expirycount"></span></div>
                            <div>Membership to be Renewed </div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Members")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
         jQuery(document).ready(function () {
             $('.datepicker').datepicker({
                 dateFormat: "dd/mm/yy",
                 changeMonth: true,
                 changeYear: true,
                 yearRange: '1920:2050',
                 defaultDate: new Date()
             });

             var d = new Date();
             var n = d.getMonth("mm");
             $(".currentmonth").text(n);

             function GetCounts() {
                 $.ajax({
                     url: '@Url.Action("GetDashboardCounts", "Dashboard")',
                     success: function (data) {
                         console.log(data.MembersCount);
                         $(".memberscount").text(data.MembersCount);
                         $(".receiptscount").text(data.ReceiptsCount);
                     }
                 });
             }
             GetCounts();

             

             $("#PrintReceiptList").click(function () {
                 //  alert("Hi");
                 var listsearch = $("#ListSearch").val();

                 window.open('@Url.Action("ReceiptPrint", "Receipt")?Query=' + listsearch + '&PrintOption=PrintReceiptList', '_blank', "width=900, height=600");
             });

             $("#SingleReceipt").click(function () {
                 var MemberID = $("#MemberID").val();
                 if(MemberID != "")
                 window.open('@Url.Action("ReceiptSinglePrint", "Receipt")?ReceiptID=0' +'&MemberID='+MemberID, '_blank', "width=900, height=600");
             });

             $("#PrintAddress").click(function () {
                 var Query = $("#Query").val();
                 window.open('@Url.Action("MembersPrint", "Members")?Query=' + Query + '&PrintOption=MembersAddress', '_blank', "width=900, height=600");
             });

             $("#PrintList").click(function () {
                 var ListQuery = $("#ListQuery").val();
                 window.open('@Url.Action("MembersPrint", "Members")?Query=' + ListQuery + '&PrintOption=MembersList', '_blank', "width=900, height=600");
             });



             $("#IncomeExpensePrint").click(function () {
                 var fromdate = $("#FromDate").val()
                 , todate = $("#ToDate").val();
                 var RequestFromDate = $("#RequestFromDate").val()
             , RequestToDate = $("#RequestToDate").val();

                 window.open('@Url.Action("IncomeAndExpenseDetailsPrint", "Dashboard")?FromDate=' + RequestFromDate + '&ToDate=' + RequestToDate, '_blank', "width=900, height=600");
             });

             var RequestFromDate = $("#RequestFromDate").val()
               , RequestToDate = $("#RequestToDate").val();
             if (RequestFromDate != null || RequestToDate != null) {
                 $("#FromDate").val(RequestFromDate);
                 $("#ToDate").val(RequestToDate);
             }

         });
    </script>
}

