﻿@model Xlnc.Models.MemberEditViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
    var member = Model.MemberData;
}

@section Content {
    <style>
        .ui-autocomplete {
            height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .td-width {
            width: 18%;
        }
    </style>
    <form role="form" class="form form-horizontal" method="POST" action="@Url.Action("Create", "Members")">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="@Url.Action("Index", "Members")">Guests</a> &raquo; @(member.MemberID > 0 ? "Edit" : "Create")
                    <button type="submit" class="btn btn-primary CreateMember pull-right">Save Guest</button>
                </h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Personal Details</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @*<div class="col-lg-2">
                                        <label for="MemberID">Reference ID</label>
                                        </div>
                                        <div class="col-lg-4">
                                        <input type="text" class="form-control member-auto-complete" name="MemberID" id="MemberID" />
                                        </div>*@
                                    @*<div class="col-lg-2">
                                        <label for="UploadImage">Upload Image</label>
                                        </div>
                                        <div class="col-lg-4">
                                        <img src="@Url.Action("ShowImage", "Members", new { ID=@member.MemberID,PhotoName=@member.PhotoName})" id="UploadedImage" alt="No Image" width="100" height="100" /><br /><br />
                                        <input type='file' name="FileData" id="FileData" onChange="uploadimage(this)" />
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="MemberName">Name</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.TextBox("MemberName", @member.MemberName, new { @class = "form-control", required = "required" })
                                        <input type="hidden" name="MemberID" id="MemberID" value="@member.MemberID" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="FatherName">Father Name</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="FatherName" id="FatherName" value="@member.FatherName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="DateOfBirth">Date Of Birth</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control datepicker focus" placeholder="Eg: 12/03/1980" name="DateOfBirth" id="DateOfBirth" required value="@(member.MemberID > 0 ? member.DateOfBirth.Value.ToShortDateString() : "")" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="Age">Age</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control focus" name="Age" id="Age" value="@member.Age" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="MobileNo">Mobile No</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="MobileNo" id="MobileNo" required value="@member.MobileNo" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="BloodGroup">Mother Name</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control member-auto-complete" name="BloodGroup" id="BloodGroup" value="@member.BloodGroup" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="MaritalStatus">Marital Status</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.RadioButtonFor(m => member.MaritalStatus, "Single") Single
                                        <!--<input type="radio" id="MaritalStatusYes" name="MaritalStatus" value="Single" />
                                        <label for="MaritalStatusYes">Single</label>-->
                                        @Html.RadioButtonFor(m => member.MaritalStatus, "Married") Married
                                        <!--<input type="radio" id="MaritalStatusNo" name="MaritalStatus" value="Married" />
                                        <label for="MaritalStatusNo">Married</label>-->
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="SpouseName">Husband Name</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control member-auto-complete" name="SpouseName" id="SpouseName" value="@member.SpouseName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="Email">Email ID</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="Email" id="Email" value="@member.Email" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="TelephoneNo">Home Telephone No</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="TelephoneNo" id="TelephoneNo" value="@member.TelephoneNo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="Post">Govt.ID Proof</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <select id="MemberPost" class="form-control" name="MemberPost" required>
                                            <option value="Aadharnumber">Aadhar Number</option>
                                            <option value="Drivinglicense">Driving License</option>
                                            <option value="Voterid">Voter ID</option>
                                            <option value="Passbook">Passbook</option>
                                            <option value="Pancard">Pan Card</option>
                                            <option value="Passport">Passport</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="AadhaarNumber">Govt.ID Number</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="AadhaarNumber" id="AadhaarNumber" value="@member.AadhaarNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="HomeAddress">Native Address</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control member-auto-complete" name="HomeAddress" id="HomeAddress" value="@member.HomeAddress" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Work/College Details</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="Qualification">Occupation</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control member-auto-complete" name="Qualification" id="Qualification" value="@member.Qualification" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="Children1Name">Nature of Work</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="Children1Name" id="Children1Name" class="form-control" value="@member.Children1Name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="Children2Name">ID No</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="Children2Name" id="Children2Name" class="form-control" value="@member.Children2Name" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="StoreName">Name</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="StoreName" id="StoreName" class="form-control" value="@member.StoreName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="OwnerShipType">Telephone No</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="OwnerShipType" id="OwnerShipType" value="@member.OwnerShipType" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="AccountNo">Timing</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="AccountNo" id="AccountNo" class="form-control" value="@member.AccountNo" />
                                    </div>
                                    <!--<div class="col-lg-2">
                                        <input type="time" name="AccountNo" id="AccountNo" class="form-control" />
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="StoreAddress">Address</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" name="StoreAddress" id="StoreAddress" class="form-control " value="@member.StoreAddress" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Local Relation Details</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="Relationship">Relationship</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control member-auto-complete" name="Relationship" id="Relationship" value="@member.Relationship" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="EmergencyNo">Telephone No</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="EmergencyNo" id="EmergencyNo" value="@member.EmergencyNo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="HomeArea">Address</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="HomeArea" id="HomeArea" value="@member.HomeArea" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Office Details</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="Reference">Locker No</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="hidden" name="RoomNo" id="RoomNo" value="@member.RoomNo" />
                                        <input type="hidden" name="LockerNo" id="LockerNo" value="@member.LockerNo" />
                                        <input type="text" class="form-control" name="Reference" id="Reference" value="@member.RoomNo@member.LockerNo" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="InsuranceAmount">Advance Amount</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="InsuranceAmount" id="InsuranceAmount" value="@member.InsuranceAmount" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="HomePincode">Receipt No</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="HomePincode" id="HomePincode" value="@member.HomePincode" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="InsurancePaidDate">Advance Receipt Date</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control date" name="InsurancePaidDate" id="InsurancePaidDate" value="@(member.MemberID > 0 ? member.InsurancePaidDate.Value.ToShortDateString() : "")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="NomineeName">Username</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="NomineeName" id="NomineeName" value="@member.NomineeName" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="JoiningDate">Date of Joining</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control date" name="JoiningDate" id="JoiningDate" placeholder="Eg: 12/03/1980" value="@(member.MemberID > 0 ? member.JoiningDate.Value.ToShortDateString() : "")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of col-lg-12-->
        </div>
        <div class="">
            <div class="text-right">
                <button type="submit" class="btn btn-primary CreateMember">Save Guest</button>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </form>
}

<!--end of row-->
@section Scripts {

    <script type="text/javascript">
        jQuery(document).ready(function () {
            onLoad();
            function onLoad() {
                @if (member.MemberID > 0)
                {
                    <text>
                $("#MemberPost").val("@member.MemberPost");
                </text>
                }
            }

            // Date Picker Coding
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:',
                defaultDate: new Date(),
                maxDate: new Date(),

                onSelect: function (value, ui) {
                    console.log(ui.selectedYear)
                    var today = new Date();
                    var format = value.split("/");
                    var dob = new Date(format[2], format[1] - 1, format[0]);
                    var diff = (today - dob);
                    var age = Math.floor(diff / 31536000000);
                    console.log("age = " + diff);
                    $("#Age").val(age);
                    var id = $(this).attr("id");
                    console.log(id + "= id");
                    if (id == "DateOfBirthStr") {
                        $("#Age").val(age);
                    }
                }
            });//.datepicker("setDate", new Date());

            $(".date").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:',
                defaultDate: new Date(),
                time: false
            });


            // Focusing the Input fields when user clicks.
            $(".focus").click(function () {
                if ($(this).val() == '0') {
                    $(this).val("");
                }
            });

            $("#Reference").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetAvailableRooms", "Room")?filter=' + request.term,
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    label: item.RoomNo + "" + item.LockerNo,
                                    value: item.RoomNo + "" + item.LockerNo,//+ '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName
                                    room: item
                                }
                                //  alert(label);
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#Reference").val(ui.item.room.RoomNo + "" + ui.item.room.LockerNo);
                    $("#RoomNo").val(ui.item.room.RoomNo);
                    $("#LockerNo").val(ui.item.room.LockerNo);
                }
            });
        });

    </script>
}

