﻿@model Xlnc.Models.MemberEditViewModel
@using Xlnc.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content {
    @{ int Last_Member_ID = (int)ViewData["Last_Member_ID"];
        if (Last_Member_ID == null)
        {
            Last_Member_ID = new int();
        }
    }
    <style>
        .ui-autocomplete {
            height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .td-width {
            width: 18%;
        }
    </style>
    @using (Html.BeginForm("Create", "Members", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
    {
        var member = Model.MemberData;
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="panel-title">
                            <a href="@Url.Action("Index", "Members")">Members</a> &raquo; Create
                        </h4>
                    </div>
                    <div class="col-md-4 right">
                        @* <a href="@Url.Action("Create", "Members", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>*@
                        <button type="submit" class="btn btn-primary CreateMember">Save Member</button>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>

            <div class="panel-body form-style">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <tbody>
                                    <tr>
                                        <td class="td-width">
                                            @*<label for="LastMemberNo">Last Member No</label><br/><br/><br />
                                                <label for="MemberName">Member No</label><br/><br/><br />*@
                                            <!--<label for="MemberName">Name</label>-->
                                            <label for="Reference">Reference ID</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />
                                                        <input type="text" name="MembershipNo" id="MembershipNo" class="form-control focus" required /><br />*@
                                                    @*@Html.TextBox("MemberName", @member.MemberName, new { @class = "form-control member-auto-complete", required = "required" })
                                                        <input type="hidden" name="MemberID" id="MemberID" class="form-control"  />*@

                                                    <input type="text" class="form-control member-auto-complete" name="Reference" id="Reference" />

                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="UploadImage">Upload Image</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <img src="@Url.Action("ShowImage", "Members", new { ID=@member.MemberID,PhotoName=@member.PhotoName})" id="UploadedImage" alt="Your Image" width="100" height="130" /><br /><br />
                                                    <input type='file' name="FileData" id="FileData" onChange="uploadimage(this)" />
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <!--<label for="JoiningDate">Joining Date</label>-->
                                            <label for="MemberName">Name</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @Html.TextBox("MemberName", @member.MemberName, new { @class = "form-control member-auto-complete", required = "required" })
                                                    <input type="hidden" name="MemberID" id="MemberID" class="form-control" />
                                                    @*<input type="text" class="form-control datepicker focus" name="JoiningDate" id="JoiningDate" placeholder="Eg: 12/03/1980"  required />
                                                        <input type="hidden" class="form-control datepicker " name="MembershipExpiryDate" id="MembershipExpiryDate" value="@member.MembershipExpiryDate"/>
                                                        @*<input type="hidden" class="form-control datepicker " name="MemberShipAmountPaidDate" id="MemberShipAmountPaidDate" value="@member.MemberShipAmountPaidDate"/>
                                                        <input type="hidden" class="form-control datepicker " name="InsurancePaidDate" id="InsurancePaidDate" value="@member.InsurancePaidDate"/>*@

                                                </div>
                                                <div class="col-lg-2"> <label for="FatherName">Father Name</label></div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="FatherName" id="FatherName" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="DateOfBirth">Date Of Birth</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control datepicker focus" placeholder="Eg: 12/03/1980" name="DateOfBirth" id="DateOfBirth" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="Age">Age</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control focus" name="Age" id="Age" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="MobileNo">Mobile No</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="MobileNo" id="MobileNo" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="BloodGroup">Mother Name</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="BloodGroup" id="BloodGroup" />
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="MaritalStatus">Marital Status</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="radio" id="MaritalStatusYes" name="MaritalStatus" value="Yes" />
                                                    <label for="MaritalStatusYes">Single</label>
                                                    <input type="radio" id="MaritalStatusNo" name="MaritalStatus" value="No" />
                                                    <label for="MaritalStatusNo">Married</label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <!--<label for="WeddingDate">Wedding Date</label>-->
                                                    <label for="SpouseName">Husband Name</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <!--<input type="text" class="form-control member-auto-complete" name="WeddingDate" id="WeddingDate" />-->
                                                    <input type="text" class="form-control member-auto-complete" name="SpouseName" id="SpouseName" />
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="Email">Email ID</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="Email" id="Email" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="TelephoneNo">Home Telephone No</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="TelephoneNo" id="TelephoneNo" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="Post">Govt.ID Proof</label>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <select id="MemberPost" class="selectpicker" required>
                                                        <option value="Aadharnumber">Aadhar Number</option>
                                                        <option value="Drivinglicense">Driving License</option>
                                                        <option value="Voterid">Voter ID</option>
                                                        <option value="Passbook">Passbook</option>
                                                        <option value="Pancard">Pan Card</option>
                                                        <option value="Passport">Passport</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-2">
                                                    <!--<label for="Religion">Religion</label>-->
                                                    <label for="AadhaarNumber">Govt.ID Number</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <!--<input type="text" class="form-control" name="Religion" id="Religion" />-->
                                                    <input class="form-control" name="AadhaarNumber" id="AadhaarNumber">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!--<label for="NomineeName">Nominee Name</label>-->
                                            <label for="HomeAddress">Native Address</label>
                                        </td>
                                        <td>
                                            <!--<input type="text" class="form-control member-auto-complete" name="NomineeName" id="NomineeName" />-->
                                            <input type="text" class="form-control member-auto-complete" name="HomeAddress" id="HomeAddress" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="Qualification">Occupation</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="Qualification" id="Qualification" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="Children1Name">Nature of Work</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="Children1Name" id="Children1Name" class="form-control" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="Children2Name">Work/College ID No</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" name="Children2Name" id="Children2Name" class="form-control" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="StoreName">Work/College Name</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="StoreName" id="StoreName" class="form-control" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="OwnerShipType">Work/College Telephone No</label>
                                        </td> @*---StoreName---*@
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="OwnerShipType" id="OwnerShipType" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="AccountNo">Work/College Timing</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="AccountNo" id="AccountNo" class="form-control" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="StoreAddress">Work/College Address</label>
                                        </td>
                                        <td>
                                            <input type="text" name="StoreAddress" id="StoreAddress" class="form-control " />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="Relationship">Relationship</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="Relationship" id="Relationship" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="EmergencyNo">Local Relation No</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input class="form-control" name="EmergencyNo" id="EmergencyNo" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="HomeArea">Home Area</label>
                                        </td>
                                        <td>
                                            <input class="form-control" name="HomeArea" id="HomeArea" />

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--end of col-lg-12-->
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg CreateMember">Save Member</button>
                </div>
            </div>
        </div>
    }
    <!--end of row-->
}
@section Scripts {

    <script type="text/javascript">
        jQuery(document).ready(function () {
            @{var member = Model.MemberData;}
            $("input[name=Community][value='@member.Community']").attr("checked", "checked");

            // Date Picker Coding
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:',
                defaultDate: new Date(),
                maxDate: new Date(),

                onSelect: function (value, ui) {
                    console.log(ui.selectedYear)
                    var today = new Date();
                    var format = value.split("/");
                    var dob = new Date(format[2], format[1] - 1, format[0]);
                    var diff = (today - dob);
                    var age = Math.floor(diff / 31536000000);
                    console.log("age = " + diff);
                    var id = $(this).attr("id");
                    console.log(id + "= id");
                    if (id == "DateOfBirthStr") {
                        $("#Age").val(age);
                    }
                }
            });//.datepicker("setDate", new Date());

            // Focusing the Input fields when user clicks.
            $(".focus").click(function () {
                if ($(this).val() == '0') {
                    $(this).val("");
                }
            });

            // Save the uploaded image
            @*$(".CreateMembers").click(function () {

            var ScanFile = $("#ScanFile").val();
            var MemberName = $("#MemberName").val();
            var DOB = $("#DateOfBirth").val();
            //alert("Hi ScanFile = "+ScanFile);
            $.ajax({
                url: '@Url.Action("UploadImage","Members")?ScanFile='+ScanFile+ '&MemberName='+MemberName+'&DOB='+DOB,
                success: function () {

                }
            });
        });*@

            // Registration Form Autocomplete

            $(".member-auto-complete").bind('keyup', function (event) {
                var ColumnName = $(this).attr("id");
                //alert("Column Name = " + ColumnName);
                getMemberAutoComplete(ColumnName, event);

            });
            function getMemberAutoComplete(ColumnName, e) {

                $(".member-auto-complete").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMemberAutoComplete", "Members")?ColumnName=' + ColumnName + '&term=' + request.term,
                            // data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {

                                    return {
                                        label: item,
                                        value: item //+ '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName
                                    }
                                    //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                        $("#" + ColumnName).val(ui.item.value);
                        /*  $("#MembershipNo").val(ui.item.value.split("--")[0]);
                          $("#MemberName").val(ui.item.value.split("--")[1]);
                          $("#Address").val(ui.item.value.split("--")[2]);
                          $("#PhoneNo").val(ui.item.value.split("--")[3]);
                          $("#StoreName").val(ui.item.value.split("--")[4]);*/
                    }
                });
            }
            $("#StoreStartingYear").bind('keyup', function (event) {
                var startingyear = $(this).val();
                var currentTime = new Date();
                var year = currentTime.getFullYear();
                var month = currentTime.getMonth() + 1
                var experience = parseFloat(year) - parseFloat(startingyear);
                if (experience > 0) {
                    $("#TotalExperience").val(experience);
                }
                else {
                    $("#TotalExperience").val("6 months");
                }

            });
        });

        // Uploaded Image displaying
        function uploadimage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#UploadedImage')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        //select box
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            size: 7
        });

    </script>
}