﻿@model Xlnc.Models.MemberListViewModel
@using Xlnc.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    @using (Html.BeginForm("Search", "Members"))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Members</h4>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 right">
                        <a href="@Url.Action("Create", "Members")" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>&nbsp; Create Member</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="filter-sidebar">
                            <div class="toggle-btn">
                                <a href="#" class="arrow-left"></a>
                                <a href="#" class="arrow-right"></a>
                            </div>
                            <div class="form-group">
                                <label for="MemberNameFilter">Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="FilterColumnValues" id="MemberNameFilter" placeholder="Enter Name" value="" />
                                    <input type="hidden" name="FilterOperators" value="contains" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MobileNoFilter">Mobile No</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="FilterColumnValues" id="MobileNoFilter" placeholder="Mobile No" value="" />
                                    <input type="hidden" name="FilterOperators" value="contains" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ExpiryDateFilter">Expiry Date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="FilterColumnValues" id="ExpiryDateFilter" value="" placeholder="Expiry Date" data-provide="datepicker" data-date-format="dd/mm/yyyy" />
                                    <input type="hidden" name="FilterOperators" value="=" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SpecialistInFilter">Speciality</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="FilterColumnValues" id="SpecialistInFilter" placeholder="Speciality Name" value="" />
                                    <input type="hidden" name="FilterOperators" value="contains" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-wrench"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AreaFilter">Area</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="FilterColumnValues" id="AreaFilter" placeholder="Area Name" value="" />
                                    <input type="hidden" name="FilterOperators" value="contains" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>MemberNo</th>
                                        <th>Member Name</th>
                                        <th>Specialist In</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Member in Model.Members.Items)
                                    {
                                        <tr>
                                            <td>@Member.MembershipNo</td>
                                            <td>@Member.MemberName</td>
                                            <td>@Member.SpecialistIn</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.BootstrapPager(Model.Members.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Members",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Members.ItemsPerPage,
                                                                MemberName = "a"
                                                            }),
                                        Model.Members.TotalItems,
                                        Model.Members.ItemsPerPage,
                                        Model.Members.TotalPages)
                            </div>
                            <div class="col-md-5">
                                Showing @Model.Members.Items.Count of @Model.Members.TotalItems member(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                      
    }
}