﻿@model Xlnc.Models.MemberListViewModel
@using Xlnc.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <style>
        /*.alert {
            background-color: #FEB8B8 !important;
        }*/
    </style>
    <div class="col-md-12">
        <div style="color:red;font-weight:bold;" id="Result"></div>
    </div>
    @using (Html.BeginForm("Index", "Members"))
    {
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Members </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                    @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>


                                    </span>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                <div class="btn-group">

                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" class="PrintMemberDetails" id="PrintAddress">Print Address</a></li>
                                        <li><a href="#" class="PrintMemberDetails" id="PrintList">Print Member List</a></li>
                                        <li><a href="#" class="PrintMemberDetails" id="PrintDismissedList">Print Dismissed Member List</a></li>
                                    </ul>
                                </div>*@
                            @*<button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Download Form</button>*@
                            @*</div>*@

                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<a href="@Url.Action("GetMemberExpiryList", "Members")" class="btn btn-default confirmation" id="MemberExiprySMS">Send SMS for Expired Members</a>*@
                        @*<a href="#" class="btn btn-default confirmation" id="MemberExiprySMS">Send SMS for Expired Members</a>*@
                        @*<button class="btn btn-default" type="submit">Send SMS for Expired Members</button>
                            <a href="@Url.Action("SendBirthdaySMS", "Members")" class="btn btn-default confirmation">Send Birthday SMS</a>*@
                        @*<a href="#" class="btn btn-default confirmation" id="BirthdaySMS">Send Birthday SMS</a>*@
                        <div class="pull-right">
                            <a href="@Url.Action("Create", "Members")" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>&nbsp; Create Member</a>
                        </div>

                    </div>

                </div>
            </div>


            <div class="panel-body">
                <div class="row">
                    @if (Model.Members.Items.Count == 0)
                    {
                        <div id="EmptyBookings">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="warning-content">
                                        <h2><i class="fa fa-warning fa-2x warning-icon"></i></h2>
                                        <h3>
                                            No Members.
                                        </h3>
                                        <br />
                                    </div>
                                </div><!--/. col-md-12-->
                            </div><!--/. row -->
                        </div><!-- /#BookingListScrollSpyDiv -->
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Guest No</th>
                                            <th>Locker No</th>
                                            <th>Member Name</th>
                                            <!--<th>Specialist In</th>
                                            <th>ExpiryDate</th>-->
                                            <th>Work Nature</th>
                                            <th>Mobile</th>
                                            <th>Date of Joining</th>
                                            <th>Bill Pay</th>
                                            <th>Edit / Delete / History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Member in Model.Members.Items)
                                        {
                                            <tr>
                                                <td><a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })">@Member.MemberNo</a></td>
                                                <td><a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })">@Member.Reference</a></td>
                                                <td><a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })">@Member.MemberName </a></td>
                                                @*<td class="">@Member.SpecialistIn</td>
                                                    <td class="">@Member.MembershipExpiryDate.ToString("dd/MM/yyyy") ----- @DateTime.Now.Date.ToString("dd/MM/yyyy")</td>*@
                                                <td>@Member.Children1Name</td>
                                                <td>@Member.MobileNo</td>
                                                <td>@Member.JoiningDate</td>
                                                <td>@Member.InsuranceAmount</td>
                                                <td>
                                                    @*<a href="#" class="DeleteMember"><input type="hidden" class="DeleteMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-trash"></span></a>*@
                                                    <a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })"><span class="glyphicon glyphicon-edit"></span></a>
                                                    / <a href="#" class="DeleteMember"><input type="hidden" class="DeleteMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                    / <a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })" title="View Guest History"><span class="glyphicon glyphicon-stats"></span></a>
                                                    @*
                                                        / <a href="#" class="PrintSingleMember"><input type="hidden" class="PrintSingleMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-print"></span></a>
                                                        / <a href="#" class="MemberDismiss"><input type="hidden" class="DismissMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-ban-circle"></span></a>
                                                    *@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    @Html.BootstrapPager(Model.Members.CurrentPage,
                             index => Url.Action("Index",
                                                 "Members",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Members.ItemsPerPage },
                                                     { "Query", Request["Query"] }
                                                 }),
                             Model.Members.TotalItems,
                             Model.Members.ItemsPerPage,
                             Model.Members.TotalPages)
                                    @*
                                               @Html.BootstrapPager(Model.Members.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Members",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Members.ItemsPerPage,
                                                                Query = Request["Query"],
                                                            }),
                                        Model.Members.TotalItems,
                                        Model.Members.ItemsPerPage,
                                        Model.Members.TotalPages)
                                    *@
                                </div>
                                <div class="col-md-3">
                                    Showing @Model.Members.Items.Count of @Model.Members.TotalItems member(s)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $(".DeleteMember").click(function () {
                var MemberID = $(this).find(".DeleteMemberID").val();
                if (confirm("Are you sure want to delete the member ?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Members")?ID=' + MemberID,
                        success: function (DeleteMember) {
                            location.reload();
                        }
                    });
                } else {
                    return false;
                }
            });



            $(".PrintSingleMember").click(function () {
                var MemberID = $(this).find(".PrintSingleMemberID").val();
                window.open('@Url.Action("MembersSinglePrint", "Members")?MemberID=' + MemberID, '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            $("#Query").val(RequestQuery);

            $(".PrintMemberDetails").click(function () {
                var value = $(this).attr('id');
                var RequestQuery = $("#RequestQuery").val();
                if (value == 'PrintAddress') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersAddress', '_blank', "width=900, height=600");
                }
                else if (value == 'PrintList') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersList', '_blank', "width=900, height=600");
                }
                else if (value == 'PrintDismissedList') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersDismissedList', '_blank', "width=900, height=600");
                }
                $('.datepicker').datepicker({
                    format: "yyyy-mm-dd"
                });
            });

            $(".MemberDismiss").click(function () {
                //  var msg = window.prompt("Are you sure want to Dismiss the member. Please enter the reason for Dismiss", "");
                //  alert(msg);
                var MemberID = $(this).find(".DismissMemberID").val();
                if (confirm('Are you sure want to Dismiss the member')) {
                    var reason = window.prompt("Please enter the reason for Dismiss", "");
                    if (reason != "") {
                        $.ajax({
                            url: '@Url.Action("Dismiss", "Members")?ID=' + MemberID + '&Reason=' + reason,
                            success: function () {
                                location.reload();
                            }
                        });

                    } else {
                        reason = window.prompt("Reason Should not be empty", "");
                        if (reason != "") {
                            $.ajax({
                                url: '@Url.Action("Dismiss", "Members")?ID=' + MemberID + '&Reason=' + reason,
                                success: function () {
                                    location.reload();
                                }
                            });

                        }
                    }
                }

            });
            $('.confirmation').on('click', function () {
                return confirm('Are you sure wnat to send SMS?');
            });
            $("#MemberExiprySMS").click(function () {
                // alert("Hi");
                var query = $(this).val();
                //   if (confirm('Are you sure wnat to send SMS?')) {
                $.ajax({
                    url: '@Url.Action("GetMemberExpiryList", "Members")',
                    success: function (data) {

                        $("#Result").text(data);
                    }
                });
                //   }

            });
            $("#BirthdaySMS").click(function () {
                // alert("Hi");
                var query = $(this).val();
                //   if (confirm('Are you sure wnat to send SMS?')) {
                $.ajax({
                    url: '@Url.Action("SendBirthdaySMS", "Members")',
                    success: function (data) {
                        // alert(data);
                        if (data != "")
                            $("#Result").text(data);
                        else
                            $("#Result").text("No Birthday's today");
                    }
                });
                //   }

            });



        });
    </script>
}