﻿@model Xlnc.Models.MemberEditViewModel
@using Xlnc.Models;
@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var member = Model.MemberData;
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style>
    #memberInfo th, .table-title {
        font-size: 14px;
    }

    img {
        margin-bottom: 10px;
    }

    .header-color {
        color: #0040ff;
    }

    .member-numbercolor {
        color: #ff4000;
    }

    .member-namecolor {
        color: #008000;
    }

    .member-table > thead > tr > th, .member-table > tbody > tr > th {
        color: #E91C23;
    }

    .member-table > tbody > tr > td {
        color: #008000;
    }

    .member-heading {
        color: #E91C23;
    }

    @@media print {
        .header-color {
            color: #0040ff !important;
        }

        .member-numbercolor {
            color: #ff4000 !important;
        }

        .member-namecolor {
            color: #008000 !important;
        }

        .member-table > thead > tr > th, .member-table > tbody > tr > th {
            color: #E91C23 !important;
        }

        .member-table > tbody > tr > td {
            color: #008000 !important;
        }

        .member-heading {
            color: #E91C23 !important;
        }
    }
</style>
<div>
    <div class="container">
        <div class="row">
            <header>
                <h3 class="text-center">XLNC WOMENS HOSTEL</h3>
                <p class="text-center">#29/31 South Usman Road, Near T.Nagar Bus Terminus,</p>
                <p class="text-center">Thiyagaraya Nagar, Chennai - 600017</p>
                <p class="text-center">Website: www.xlncwomenshostel.com</p>

            </header>
        </div>
        <div class="main-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <p>
                            <div>
                                <span class="member-heading">LOCKER NO</span>
                                <span class="member-namecolor">@member.MemberNo</span>
                            </div>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="pull-right">
                            <span>Mobile: (91) 8680802110</span>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="pull-right">
                            <span>Email: xlncwomenshostel@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<img src="~/Content/Images/Receipt_Header.jpg" class="Receipt_Header" style="width:100%;" alt="Receipt Header" />-->
        </div>

        <!--<div class="row">
            <div class="col-xs-6 pull-left">
                <table class="table border-none" id="memberInfo">
                    <tbody></tbody>
                </table>
            </div>-->
        @*<div class="col-xs-2 col-xs-offset-4">

                <img src="@Url.Action("ShowImage", "Members", new { ID=@member.MemberID,PhotoName=@member.PhotoName})" id="UploadedImage" alt="Your Image" width="100" height="120" />
            </div>*@
        <!--</div>--><!--end of row-->


        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered member-table">
                    <thead>
                        <tr>
                            <th colspan="4" class="table-title text-center">Personal Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Joining Date</th>
                            <td class="header-color">@member.JoiningDate.ToString("dd/MM/yyyy")</td>
                            <th>Reference ID</th>
                            <td class="header-color">@member.MemberID</td>
                        </tr>

                        <tr>
                            <th>Member Name</th>
                            <td class="header-color">@member.MemberName</td>
                            <th>Mobile No</th>
                            <td class="header-color">@member.MobileNo</td>
                        </tr>
                        <tr>
                            <th>Father Name</th>
                            <td class="header-color">@member.FatherName</td>
                            <th>Mother Name</th>
                            <td class="header-color">@member.BloodGroup</td>
                        </tr>
                        <tr>
                            <th>Date of Birth</th>
                            <td class="header-color">@member.DateOfBirth.ToString("dd/MM/yyyy")</td>
                            <th>Email ID</th>
                            <td class="header-color">@member.Email</td>
                        </tr>
                        <tr>
                            <th>Marital Status</th>
                            <td class="header-color">@member.MaritalStatus</td>
                            <th>Husband Name</th>
                            <td class="header-color">@member.SpouseName</td>
                        </tr>
                        <tr>
                            <th>Govt.ID Proof</th>
                            <td class="header-color">@member.MemberPost</td>
                            <th>Govt.ID Number</th>
                            <td class="header-color">@member.AadhaarNumber</td>
                        </tr>

                        <tr>
                            <th>Home Telephone</th>
                            <td class="header-color">@member.TelephoneNo</td>
                            <th>Native Address</th>
                            <td class="header-color">@member.HomeAddress</td>
                        </tr>

                        <tr>
                            <th colspan="4" class="table-title text-center">Work/College Details</th>
                        </tr>

                        <tr>
                            <th>Occupation</th>
                            <td class="header-color">@member.Qualification</td>
                            <th>Nature of Work</th>
                            <td class="header-color">@member.Children1Name</td>
                        </tr>
                        <tr>
                            <th>ID No</th>
                            <td class="header-color">@member.Children2Name</td>
                            <th>Name</th>
                            <td class="header-color">@member.StoreName</td>
                        </tr>
                        <tr>
                            <th>Telephone No</th>
                            <td class="header-color">@member.OwnerShipType</td>
                            <th>Timing</th>
                            <td class="header-color">@member.AccountNo</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td class="header-color" colspan="3">@member.StoreAddress</td>
                        </tr>

                        <tr>
                            <th colspan="4" class="table-title text-center">Local Relation Details</th>
                        </tr>

                        <tr>
                            <th>Relationship</th>
                            <td class="header-color">@member.Relationship</td>
                            <th>Telephone No</th>
                            <td class="header-color">@member.EmergencyNo</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td class="header-color" colspan="3">@member.HomeArea</td>
                        </tr>
                        <tr>
                            <th colspan="4" class="table-title text-center">Office Details</th>
                        </tr>
                        <tr>
                            <th>Advance Amount </th>
                            <td class="header-color">@member.InsuranceAmount</td>
                            <th>Advance Receipt No</th>
                            <td class="header-color">@member.DrivingLicenceNo</td>
                        </tr>
                        <tr>
                            <th>Advance Paid Date</th>
                            <td class="header-color" colspan="3">@member.Validity</td>
                        </tr>
                    </tbody>
                </table><!--end of table-->
            </div>
        </div>
    </div><!--end of container-->
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var mebershipno = $(".MembershipNo").text();
        // alert(mebershipno);
        window.print();


    });

</script>