﻿@model List<Xlnc.Models.Member>
 @{   
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style type="text/css">
    .AddressList {
        width : 33%;
        height : 25%;
        display : inline;
        float : left;
        text-decoration :none;
        padding : 5px;
        border : 1px solid #dcdcdc;

    }

</style>
    <div class="main-content">
    <div class="main-header container-fluid">
        <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" alt="Logo" style="width:6%;"/>&nbsp;&nbsp;&nbsp;Motorcycle Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>
    </div>
  
<div>
    <ul>
    @foreach (var Member in Model) { 
        <li class="AddressList">
            <b>@Member.MemberID</b><br/>
            <b>@Member.MemberName</b><br/>
            @Member.StoreName<br/>
            @Member.StoreAddress<br/>
            @Member.StoreArea<br/>
            @Member.StoreCity - @Member.StorePincode<br/>
            @Member.PhoneNo<br/>

        </li>
    }
    </ul>
</div>
        </div>
<script type="text/javascript">
    window.print();
</script>
