﻿@model Xlnc.Models.MeetingEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_Shared/_Layout.cshtml";
    var members = Model.MeetingData;
}
@section Content {
    
    @using (Html.BeginForm("Create", "Meeting", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        // var meeting = Model.MeetingData;
        var member = Model.MeetingData;
        <div class="alobin-panel" style="width:1000px;margin:0 auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="member-details"><a href="@Url.Action("Index","Meeting")">Meeting</a> » Member</h4>
                        </div>
                        <div class="col-md-6 right">
                            <a href="@Url.Action("Index", "Meeting")" class="btn btn-default">Expense Lists</a>
                            @*<button type="submit" class="btn">Receipt List</button>*@
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>

                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="MeetingTitle">Meeting Title</label>
                        <div class="col-sm-3">
                            <input type="hidden" class="form-control" id="MeetingID" name="MeetingID" value="@member.MeetingID" />
                            <input type="text" class="form-control" id="MeetingTitle" name="MeetingTitle" value="@member.MeetingTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="MeetingDate">Meeting Date Time</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="MeetingDate" name="MeetingDate" value="@member.MeetingDateTime" />
                        </div>
                    </div>
                    @*<div class="form-group">
                <label class="control-label col-sm-5" for="MeetingTime">Meeting Time</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="MeetingTime" name="MeetingTime" value="@member.MeetingTime">
                </div>
            </div>*@
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="MeetingPlace">Meeting Place</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" id="MeetingPlace" name="MeetingPlace">@member.MeetingPlace</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="Description">Description</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" id="Description" name="Description">@member.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="SmsDescription">SMS Description</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" id="SmsDescription" name="SmsDescription">@member.SmsDescription</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="SendSmsTo">Send SMS To</label>
                        <div class="col-sm-3">
                            <select id="SendSmsTo" name="SendSmsTo" class="form-control" value="@member.SendSmsTo">
                                <option value="Select">Select</option>
                                <option value="All">All</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Muslim">Muslim</option>
                                <option value="Christian">Christian</option>
                                <option value="Areawise">Area Wise</option>
                                <option value="IndividualMember">Individual Member</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="SendSmsTo"> Select the Area</label>
                        <div class="col-sm-3">
                            <input id="MembersArea" class="form-control" name="MembersArea" value="@member.MembersArea" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5" for="SendSmsTo">Send SMS to Particular Members:</label>
                        <div class="col-sm-3">
                            <input id="MobileNumber" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="col-md-offset-5 col-md-2">
                        <button type="submit" class="btn btn-md btn-info"> Save</button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" id="SendSms" class="btn btn-md btn-info "> Save & Send SMS</button>
                    </div>

                    <div class="col-md-4"><span class="SuccessMessage"></span></div>
                </div>
                </div>
            </div>
                }

                }
                @section Scripts {
                    <script type="text/javascript">
                        jQuery(document).ready(function () {

                            @{var member = Model.MeetingData;}
                            $("#SendSmsTo option[value='@member.SendSmsTo']").prop("selected", "selected");

                            if (parseInt("@member.MeetingID") > 0) {

                                if ("@member.SendSmsTo" == "Areawise") {
                                    $("#MobileNumber").attr('disabled', true);
                                }
                                if ("@member.SendSmsTo" == "IndividualMember") {
                                    $("#MembersArea").attr('disabled', true);
                                }
                                if ("@member.SendSmsTo" == "Christian" || "@member.SendSmsTo" == "All" || "@member.SendSmsTo" == "Hindu" || "@member.SendSmsTo" == "Muslim") {
                                    $("#MembersArea").attr('disabled', true);
                                    $("#MobileNumber").attr('disabled', true);
                                }
                            }
                            $("#SendSmsTo").change(function () {
                                //alert($(this).val());
                                var value = $(this).val();
                                if (value == "Areawise") {
                                    $("#MobileNumber").val('');
                                    $("#MembersArea").attr('disabled', false);
                                    $("#MobileNumber").attr('disabled', true);
                                } else if (value == "IndividualMember") {
                                    $("#MembersArea").val('');
                                    $("#MobileNumber").attr('disabled', false);
                                    $("#MembersArea").attr('disabled', true);
                                }
                                else if (value == "All") {
                                    $("#MembersArea").attr('disabled', true);
                                    $("#MobileNumber").attr('disabled', true);
                                    $("#MembersArea").val('');
                                    $("#MobileNumber").val('');
                                }
                                else if (value == "Hindu") {
                                    $("#MembersArea").attr('disabled', true);
                                    $("#MobileNumber").attr('disabled', true);
                                    $("#MembersArea").val('');
                                    $("#MobileNumber").val('');
                                }
                                else if (value == "Christian") {
                                    $("#MembersArea").attr('disabled', true);
                                    $("#MobileNumber").attr('disabled', true);
                                    $("#MembersArea").val('');
                                    $("#MobileNumber").val('');
                                }
                                else if (value == "Muslim") {
                                    $("#MembersArea").attr('disabled', true);
                                    $("#MobileNumber").attr('disabled', true);
                                    $("#MembersArea").val('');
                                    $("#MobileNumber").val('');
                                }
                                /* else {
                                     $("#MembersArea").attr('disabled', false);
                                     $("#MobileNumber").attr('disabled', false);
                                     $("#MembersArea").val('');
                                     $("#MobileNumber").val('');
                                 }*/
                            });



                            $('#SmsDescription').keyup(function () {
                                var chars = this.value.length,
                                    messages = Math.ceil(chars / 160),
                                    remaining = messages * 160 - (chars % (messages * 160) || messages * 160);

                                $remaining.text(remaining);
                                $messages.text(messages);
                            });
                            $("#MembersArea").bind('keyup', function (event) {
                                getMemberAreaAutoComplete(event);

                            });
                            function getMemberAreaAutoComplete(e) {

                                $("#MembersArea").autocomplete({
                                    source: function (request, response) {
                                        $.ajax({
                                            url: '@Url.Action("MembersAreaList", "Sms")?term=' + request.term,
                                            // data: { term: request.term },
                                            success: function (data) {
                                                //alert("Success");
                                                response($.map(data, function (item) {

                                                    return {
                                                        label: item,
                                                        value: item //+ '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName
                                                    }
                                                    //  alert(label);
                                                }));
                                            }
                                        });
                                    },
                                    select: function (event, ui) {
                                        event.preventDefault();
                                        $("#MembersArea").val(ui.item.value);
                                    }
                                });
                            }

                            jQuery('#MeetingDate').datetimepicker({
                                timepicker: false,
                                format: 'd.m.Y'
                            });
                            jQuery('#MeetingTime').datetimepicker({
                                datepicker: false,
                                format: 'H:i'
                            });
                            jQuery('#SendSms').click(function (e) {
                                var smsto = $("#SendSmsTo").val();
                                var area = $("#MembersArea").val();
                                var mobileno = $("#MobileNumber").val();
                                if (smsto != "Select") {
                                    if (confirm("Are you sure want to send SMS?")) {
                                        var message = $("#SmsDescription").val();
                                        if (message != "") {
                                            $.ajax({
                                                url: '@Url.Action("MeetingSendSMS","Meeting")?SmsTo=' + smsto + '&Area=' + area + '&MobileNumber=' + mobileno + '&Message=' + message,
                                                success: function (data) {
                                                    alert(data);
                                                    return jQuery(".SuccessMessage").html(data).fadeOut(3600, function () {
                                                        jQuery(".SuccessMessage").html('').show();
                                                    });
                                                }
                                            });
                                        }
                                        else {
                                            return jQuery(".SuccessMessage").html("Please enter the Message to send").fadeOut(3600, function () {
                                                jQuery(".SuccessMessage").html('').show();
                                            });
                                        }
                                    }
                                }
                                else {
                                    confirm("Please select the Send SMS To option.");
                                }
                            });
                        });

                    </script>
                }






