﻿@model Xlnc.Models.MeetingEditViewModel
@using Xlnc.Models;
@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var member = Model.MeetingData;
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<style>
      #memberInfo th, .table-title{
		font-size:14px;
	  }
	  img {
		margin-bottom: 10px;
	  }
	</style>
<div>
    <div class="container">
		<header>
			<div class="row">
				<div class="col-xs-6">
					<span>Register No: 40/2014</span>					
				</div>
				<div class="col-xs-6 text-right" >
					<span>
						 Land Line No: 044-28522660 <br/>
						Cell Phone No: 9841892001	
					</span>
				</div>
			</div>
			<!--<h3 class="text-center">Motor Cycle  Pazhuthu Parppore Nalasangam</h3>
			<address class="text-center">33/2  NAGAPPA MUDALI STREET KOMALEESWARANPET  CHENNAI 600 002</address>-->
			<div class="main-header">
              <img src="~/Content/Images/Receipt_Header.jpg" class="Receipt_Header" style="width:100%;" alt="Receipt Header" />
            </div>
			<div>&nbsp;</div>
            <div>&nbsp;</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
                    <table class="table table-bordered meeting-print">
                        <tr>
                            <th>Meeting Date</th>
                            <td>@member.MeetingDate</td>
                        </tr>
                        <tr>
                            <th>Meeting Title</th>
                            <td>@member.MeetingTitle</td>
                        </tr>
                        <tr>
                            <th>Meeting Place</th>
                            <td>@member.MeetingPlace</td>
                        </tr>
                        <tr>
                            <th>Meeting Time</th>
                            <td>@member.MeetingTime</td>
                        </tr>
                    </table>
				</div>		
			</div><!--end of row-->
			
		</header>
		<div class="row">			
			<div class="col-xs-12">				
				<table class="table table-bordered"> 
					<thead>
						
					</thead>
					
				</table><!--end of table-->
			</div>
		</div>		
    </div><!--end of container-->
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
     //   var mebershipno = $(".MembershipNo").text();
       // alert(mebershipno);
         window.print();
        
     
    });
    
</script>