﻿@model Xlnc.Models.MeetingPrintingViewModel
@using Xlnc.Models;
@{
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";

    var member = Model.MemberEntries.First();

}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<style>
    #memberInfo th, .table-title {
        font-size: 14px;
    }

    img {
        margin-bottom: 10px;
    }
</style>

<div>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-xs-6">
                    <span>Register No: 40/2014</span>
                </div>
                <div class="col-xs-6 text-right">
                    <span>
                        Land Line No: 044-28522660 <br />
                        Cell Phone No: 9841892001
                    </span>
                </div>
                
            </div>
            <!--<h3 class="text-center">Motor Cycle  Pazhuthu Parppore Nalasangam</h3>
            <address class="text-center">33/2  NAGAPPA MUDALI STREET KOMALEESWARANPET  CHENNAI 600 002</address>-->
            <div class="main-header">
                <img src="~/Content/Images/Receipt_Header.jpg" class="Receipt_Header" style="width:100%;" alt="Receipt Header" />
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-xs-6">
                     <h4 class="">Meeting Title : @member.MeetingTitle</h4>
                     <h4> Meeting Place : @member.MeetingPlace</h4>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                     <h4>Meeting Date : @member.MeetingDate</h4>
                </div>
                <div class="col-xs-12">
                 <div>&nbsp;</div>
                    <table class="table table-bordered meeting-print">
                        <tr>
                            <th>S.No</th>
                            <th>Member No</th>
                            <th>Member Name</th>
                            <th>Phone No</th>
                            <th>Shop Name</th>
                        </tr>
                        @{int count = 0; }
                        @foreach (var Member in Model.MemberEntries)
                        {
                            
                             count = count + 1;
                            <tr>
                                <td>@count</td>
                                <td>@Member.MemberNo</td>
                                <td>@Member.MemberName</td>
                                <td>@Member.PhoneNo</td>
                                <td>@Member.ShopName</td>
                            </tr>
                        }

                    </table>
                </div>

            </div><!--end of row-->

        </header>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>

                    </thead>

                </table><!--end of table-->
            </div>
        </div>
    </div><!--end of container-->
</div>
    
<script type="text/javascript">
    jQuery(document).ready(function () {
        var mebershipno = $(".MembershipNo").text();
       // alert(mebershipno);
         window.print();


    });

</script>