﻿@model Xlnc.Models.AccountEditViewModel
@using Xlnc.Models;
@{
    Page.Title = "Title goes here";

    var expense = Model.AccountData;
}

@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<style type="text/css">
    .panel-body {
        margin: auto;
        width: 80%;
        border: 1px solid #dcdcdc;
        padding: 15px;
        border-radius: 4px;
    }

    .signature {
        width: 33%;
        text-align: center;
    }

    .table-signature {
        width: 100%;
    }

    .Receipt_Header {
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px dotted #000000;
    }
</style>
<div class="panel-body">
    <div class="main-header container-fluid">
        <img src="~/Content/Images/logo.png" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <hr />
    <div class="text-center">
        <span class="btn" style="border: 1px solid #777;margin:0 auto;">Voucher</span>
    </div>
    <div>
        <b>Voucher No:</b>
        <span class="pull-left">
            <b> by Mr.</b>
            <span class="bottom-border">@expense.Name </span>
        </span>&nbsp;
        <span class="pull-right ">
            <b> Date. </b>
            <span class="bottom-border">@expense.ReceiptDate.Value.ToString("dd/MM/yyyy")</span>
        </span>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div>
        <span class="pull-left">
            <b>Towards :</b>
            <span class="bottom-border">@expense.Reason</span>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="">
            <b>By Cash/Cheque/DD :</b>
            <span class="bottom-border">@expense.PaymentMode</span>
        </span>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div>
        <span class="pull-left">
            <b>Cheque No : </b>
            <span class="bottom-border">@expense.ChequeNo </span>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @*
                <span class="">
                <b>Cheque Date : </b><span class="bottom-border">
                    @if (@expense.ChequeDate == DateTime.MinValue) { }
                    else
                    { @expense.ChequeDate.ToString("dd/MM/yyyy")}
                </span>
            </span>
        *@
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="pull-left"> <b>Rs.&nbsp;</b><strong class="bottom-border">@expense.Amount&nbsp;/-</strong></div>
    <br /><br /><div class="clearfix">&nbsp;</div>

    <!--<table class="table-signature">
        <tr>
            <td class="signature">Passing Officer</td>
            <td class="signature">Cashier</td>
            <td class="signature">Receiver</td>
        </tr>
    </table>-->

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var voucherNo = $(".VoucherNo").text();
        // alert(mebershipno);
        //  if (!voucherNo == null || !voucherNo == "") {
        window.print();
        //  }

    });

</script>


