﻿@model List<Xlnc.Models.Account>
@{
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<div class="main-content">
    <div class="main-header container-fluid">
        <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" alt="Logo" style="width:40%;" /></h3>
    </div>
    <div class="col-md-12">
        <h4>Expenses</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="Receipt-table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <!--<th>Receipt No</th>-->
                        <th>Receiver Name</th>
                        <th>Category</th>
                        <th>Reason</th>
                        <th>Amount</th>
                        <!--<th>Cheque No</th>-->
                        <th>Bill Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Account in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <tr>
                            <td>@Account.Index</td>
                            <td>@Account.Data.Name</td>
                            <td>@Account.Data.CategoryName</td>
                            <td>@Account.Data.Reason</td>
                            <td><span class="ExpenseAmount">@Account.Data.Amount</span></td>
                            <td>@Account.Data.ReceiptDate.Value.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
            Total Amount Spent <b>Rs.<span class="TotalValue"></span></b>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {

        function CalculateTotalAmount() {
            var total = 0;
            $(".ExpenseAmount").each(function () {
                var expenseamount = $(this).text();

                total = total + parseFloat(expenseamount);
                $('.TotalValue').html(total);
            });
            return total;
            $('.TotalValue').html(total);
            //alert(total);
        }
        CalculateTotalAmount();


    });
</script>