﻿@model Xlnc.Models.AccountEditViewModel

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{

    <style type="text/css">
        .inner-panel {
            width: 742px;
            margin: 0 auto;
        }

        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form" }))
    {


        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="@Url.Action("ExpenseIndex", "Account")">Expense Vouchers</a> &raquo; @(Model.AccountData.AccountID > 0 ? "Edit" : "Create")
                </h4>
                <hr />
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">ReceiptDate: </label>
                            <input type="hidden" name="AccountID" id="AccountID" value="@Model.AccountData.AccountID" />
                            <input type="hidden" name="AccountNo" id="AccountNo" value="@Model.AccountData.AccountNo" />
                            <input type="hidden" name="PaymentType" id="PaymentType" value="Debit" />
                            <input type="text" class="datepicker form-control" id="ReceiptDate" name="ReceiptDate" value="@(Model.AccountData.AccountID > 0 ? Model.AccountData.ReceiptDate.Value.ToShortDateString() : DateTime.Now.ToShortDateString())" />
                        </div>
                    </div>
                    <!--<div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Bill No: </label>
                            <input type="text" name="ExpenseBillNo" id="ExpenseBillNo" value="" class="form-control" placeholder="" />
                            <input type="hidden" name="AccountID" id="AccountID" />
                            <input type="hidden" name="AccountNo" id="AccountNo" />
                            <input type="hidden" name="PaymentType" id="PaymentType" value="Debit" />
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <hr />
                    <div class="col-md-6">
                        <label for="Name">Name</label>
                        <input type="text" name="Name" id="Name" value="@Model.AccountData.Name" class="form-control" required />
                    </div>
                    <div class="col-md-6">
                        <label for="CategoryID">Category </label>
                        <select class="form-control" name="CategoryID" id="CategoryID">
                            @if (Model.Categorys.Count > 0)
                            {
                                <option value="0" disabled selected hidden>Select Category</option>
                                foreach (var category in Model.Categorys)
                                {
                                    <option value="@category.CategoryID">@category.CategoryName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-6">
                        <label for="Reason"> Towards</label>
                        <input type="text" name="Reason" id="Reason" value="@Model.AccountData.Reason" class="form-control" required />
                    </div>
                    <div class="col-md-6">
                        <label for="Amount"> Rs.</label>
                        <input type="number" name="Amount" id="Amount" value="@Model.AccountData.Amount" class="form-control" required />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-6">
                        <label for="MobileNo">MobileNo</label>
                        <input type="text" name="MobileNo" id="MobileNo" value="@Model.AccountData.MobileNo" class="form-control" required />
                    </div>
                    <div class="col-md-6">
                        <label for="PaymentMode"> By Cash/Cheque/DD</label>
                        <select id="PaymentMode" name="PaymentMode" class="form-control" required>
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>
                            <option value="DD">DD</option>
                        </select>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12" id="ChecqueDetailsConatiner">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="ChequeNo">Cheque/DD No</label>
                                <input type="text" name="ChequeNo" id="ChequeNo" placeholder="Enter the ChequeNo" class="form-control" value="@Model.AccountData.ChequeNo" />
                            </div>
                            <div class="col-md-6">
                                <label for="ChequeDate"> Cheque/DD Date</label>
                                <input type="text" name="ChequeDate" id="ChequeDate" value="@(Model.AccountData.AccountID > 0 ? Model.AccountData.ChequeDate.Value.ToShortDateString() : "")" class="form-control datepicker" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-6">
                        <label for="TransactionType"> Transaction Type</label>
                        <select id="TransactionType" name="TransactionType" class="form-control" required>
                            <option value="Cash">Cash</option>
                            <option value="Bank">Bank</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn pull-right" style="margin-top:20px;">Save Receipt</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2050',
                defaultDate: new Date(),
            });

            $("#PaymentMode").change(function () {
                var value = $(this).val();
                paymentModeChange(value);
            });

            function paymentModeChange(paymentMode) {
                if (paymentMode == "Cheque" || paymentMode == "DD")
                    $("#ChecqueDetailsConatiner").show();
                else
                    $("#ChecqueDetailsConatiner").hide();
            }

            function onLoad() {
                var paymentMode = "@Model.AccountData.AccountID" > 0 ? "@Model.AccountData.PaymentMode" : $("#PaymentMode").val();
                paymentModeChange(paymentMode);

                @if (Model.AccountData.AccountID > 0)
                {
                    <text>
                $("#CategoryID").val("@Model.AccountData.CategoryID");
                $("#PaymentMode").val("@Model.AccountData.PaymentMode");
                $("#TransactionType").val("@Model.AccountData.TransactionType");
                </text>
                }
            }
            onLoad();

        });

    </script>

}
