﻿@model Xlnc.Models.AccountListViewModel
@using Xlnc.Utils

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        .advanced-search {
            background-color: #eee;
        }
    </style>
    @using (Html.BeginForm("Search", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "IncomeForm" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Income Receipts </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="Query" id="Query" value="" placeholder="Search receipts... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />                                   
                                    @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                    <input type="hidden" name="AccountFilter.AccountType" value="Credit" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                        <button type="reset" class="btn btn-default" value="Reset">Reset</button>
                                        <button class="btn btn-default advanced-button" type="button">Advanced Search</button>
                                        <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                        <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Receipt</a></li>
                                      </ul>
                                    </div>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("IncomeCreate", "Account")" class="btn btn-default">Create Receipt</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.row -->
            </div>
            <div class="panel-body advanced-search">
                <div class="col=md-12">
                    <div class="col-md-4">
                        <label for="FromDate">From Date</label>
                        <input type="text" class="datepicker" name="AccountFilter.FromDate" id="FromDate" />
                    </div>
                    <div class="col-md-4">
                        <label for="ToDate">To Date</label>
                        <input type="text" class="datepicker" name="AccountFilter.ToDate" id="ToDate" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">


                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <!--<th>Bill No</th>-->
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Category</th>
                                        <th>Bill Date</th>
                                        <th>Edit / Delete / Print</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Income in Model.Accounts.Items)
                                    {
                                        <tr>
                                            @*<td><a href="@Url.Action("Edit", "Account", new {AccountID = @Income.AccountID})">@Income.IncomeBillNo</a></td>*@
                                            <td><a href="@Url.Action("Edit", "Account", new {AccountID = @Income.AccountID})">@Income.Name</a></td>
                                            <td>@Income.Amount</td>
                                            <td>@Income.CategoryName</td>
                                            <td>@Income.ReceiptDate.Value.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @*<a href="#" class="DeleteReceipt"><input type="hidden" class="DeleteReceiptID" value="@Income.ReceiptID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                    / *@
                                            <a href="@Url.Action("Edit", "Account", new {AccountID = @Income.AccountID})" title="Edit">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a> /
                                            <a href="#" class="DeleteReceipt" title="Delete">
                                                <input type="hidden" class="DeleteReceiptID" value="@Income.AccountID">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a> /
                                            <a href="#" class="PrintSingleReceipt" title="Print">
                                                <input type="hidden" class="PrintSingleReceiptID" value="@Income.AccountID">
                                                <span class="glyphicon glyphicon-print"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-7">

                                @Html.BootstrapPager(Model.Accounts.CurrentPage,
                             index => Url.Action("Search",
                                                 "Account",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Accounts.ItemsPerPage },
                                                     { "Query", Request["Query"] },
                                                     { "AccountFilter.FromDate", Model.AccountFilter.FromDate },
                                                     { "AccountFilter.ToDate", Model.AccountFilter.ToDate },
                                                     { "AccountFilter.AccountType", "Debit" }
                                                 }),
                             Model.Accounts.TotalItems,
                             Model.Accounts.ItemsPerPage,
                             Model.Accounts.TotalPages)

                            </div>
                            <div class="col-md-5">
                                Showing @Model.Accounts.Items.Count of @Model.Accounts.TotalItems receipt(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd"
            });

            $(".DeleteReceipt").click(function () {
                var ReceiptID = $(this).find(".DeleteReceiptID").val();
                if (confirm("Are you sure want to delete the Income Receipt ?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Account")?ID=' + ReceiptID,
                        success: function (DeleteReceipt) {
                            location.reload();
                        }
                    });
                } else {
                    return false;
                }
            });

            // Receipt Single Print
            $(".PrintSingleReceipt").click(function () {
                var ReceiptID = $(this).find(".PrintSingleReceiptID").val();
                window.open('@Url.Action("IncomeReceiptSinglePrint", "Account")?ReceiptID=' + ReceiptID, '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            if (RequestQuery != null) {
                $("#Query").val(RequestQuery);
            }

            $(".advanced-button").click(function () {
                $(".advanced-search").toggle("slow");
            });


            $(".PrintReceiptDetails").click(function () {
                window.open('@Url.Action("AccountsPrint", "Account")?' + $("#IncomeForm").serialize(), '_blank', "width=900, height=600");
            });

            function onLoad() {
                @if (Model.AccountFilter != null)
                {
                    <text>
                        $("#FromDate").val("@Model.AccountFilter.FromDate");
                        $("#ToDate").val("@Model.AccountFilter.ToDate");
                    </text>
                }

                $(".advanced-search").hide();
                var fromdate = $("#FromDate").val();
                var todate = $("#ToDate").val();
                if ((fromdate != "") || (todate != "")) {
                    $(".advanced-search").show();
                } else if ((fromdate == "") || (todate == "")) {
                    $(".advanced-search").hide();
                }
            }
            onLoad();
        });
    </script>
}
