﻿@model Xlnc.Models.AccountEditViewModel
@using Xlnc.Models;
@{
    Page.Title = "Title goes here";

    var income = Model.AccountData;
}

@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<style type="text/css">
    .panel-body {
        margin: auto;
        width: 80%;
        border: 1px solid #dcdcdc;
        padding: 15px;
        border-radius: 4px;
    }

    .signature {
        width: 33%;
        text-align: center;
    }

    .table-signature {
        width: 100%;
    }

    .Receipt_Header {
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px dotted #000000;
    }
</style>
<div class="panel-body">
    <div class="main-header container-fluid">
        <img src="~/Content/Images/logo.png" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <hr />
    <div class="text-center">
        <span class="btn" style="border: 1px solid #777;margin:0 auto;">Receipt</span>
    </div>
    <br />
    <div>
        <b>Received with thanks from : </b>
        <span class="bottom-border">@income.Name </span>
        @*
            <b>Receipt No:</b>
            <span class="MembershipNo bottom-border">@income.AccountNo</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        *@
        <span class="pull-right ">
            <b>Date :</b>
            <span class="bottom-border">@income.ReceiptDate.Value.ToString("dd/MM/yyyy")</span>
        </span>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div>
        <span class="pull-left">
            <b>Rs.&nbsp;</b>
            <strong class="bottom-border">@income.Amount&nbsp;/-</strong>
            @*
                <b>Rupees(Amount in words) : </b>
                <span class="bottom-border">@income.AmountInWords</span>
            *@
        </span>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div>
        <span class="pull-left">
            <b>By Cash/Cheque/DD :</b>
            <span class="bottom-border">@income.PaymentMode</span>
        </span>
    </div>
    <div class="clearfix">&nbsp;</div>
    <br /><br />
    <div class="clearfix">&nbsp;</div>

    <!--<table class="table-signature">
        <tr>
            <td class="signature"></td>
            <td class="signature"></td>
            <td class="signature">Received By</td>
        </tr>

    </table>-->

</div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {
        // var ReceiptNo = $(".VoucherNo").text();
        // alert(mebershipno);
        // if (!ReceiptNo == null || !voucherNo == "") {

        // }

    });

</script>


