﻿@model List<Xlnc.Models.Account>
 @{   
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

    <div class="main-content">
    <div class="main-header container-fluid">
        <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" alt="Logo" style="width:45%;"/></h3>
    </div>
    <div class="col-md-12">
        <h4>Income Receipts</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="Receipt-table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Bill Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Income in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <tr>
                            <td>@Income.Index</td>
                            <td>@Income.Data.Name</td>
                            <td><span class="ReceiptAmount">@Income.Data.Amount</span></td>
                            <td>@Income.Data.CategoryName</td>
                            <td>@Income.Data.ReceiptDate.Value.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
            Total Amount Received <b>Rs.<span class="TotalValue"></span></b>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {
        //alert($("#ReceiptAmount").text() + " Receipt Amount");
       // window.print();
        function CalculateTotalAmount() {
            // alert($(".ReceiptAmount").text() + " Receipt Amount");
            var total = 0;
            $(".ReceiptAmount").each(function () {
                //alert($(this).text());
                var receiptamount = $(this).text();
                
                total = total + parseFloat(receiptamount);
                //alert(total);
                //receiptamount = receiptamount + parseFloat($(this).find('.ReceiptAmount').length == 0 || !$(this).find('.ReceiptAmount').html() ? 0 : $(this).find('.ReceiptAmount').html());
                $('.TotalValue').html(total);
            });
            return total;
            $('.TotalValue').html(total);
            //alert(total);
        }
        CalculateTotalAmount();

        function CalculateGrandTotal() {
            var grandTotal = 0.0;
            $('#GridView1 tr:gt(0)').each(function () {
                grandTotal = grandTotal + parseFloat($(this).find('.totalPrice').length == 0 || !$(this).find('.totalPrice').html() ? 0 : $(this).find('.totalPrice').html());
            });
            $('#GridView1 .grandtotal').html(grandTotal);
        }
    });
</script>