﻿@model Xlnc.Models.RoomsListViewModel
@using Xlnc.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
    var rooms = Model.Rooms;
    var roomSharingTypes = rooms.GroupBy(r => r.RoomSharingType).Select(r => r.First()).ToList();
}
@section Content {
    <style type="text/css">
        h4 {
            text-align: center;
            color: #000000 !important;
        }

        .btn-group .btn + .btn {
            margin-left: 2px !important;
        }

        .btn-toolbar {
            margin-left: 12px !important;
        }

        .btn {
            padding: 2px 12px !important;
        }

        .btn-booked {
            color: #ffffff;
            background-color: #ff4d4d !important;
            border-color: #cc0000 !important;
        }

        .btn-available {
            color: #ffffff;
            background-color: #5cb85c !important;
            border-color: #3c763d !important;
        }

        .five-button {
            padding-left: 38px !important;
        }

        .thumbnail {
            background-color: #f2f2f2 !important;
        }
    </style>
    <div class="box-layout">
        <div class="row">
            @foreach (var roomType in roomSharingTypes)
            {
                    <div class="well well-sm well-info"><b class="strong">@roomType.RoomSharingType</b></div>
                    <div class="row">
                        @{
                            var groupedRooms = rooms.GroupBy(r => r.RoomNo).Select(r => r.First()).ToList();
                            var groupedRoomsBySharingType = groupedRooms.Where(s => s.RoomSharingType.Equals(roomType.RoomSharingType)).ToList();
                        }

                        @foreach (var room in groupedRoomsBySharingType)
                        {
                            <div class="col-xs-4 @(room.RoomSharingType.Equals("Four Room Sharing") ? "col-md-2" : "col-md-3")">
                                <div class="thumbnail">
                                    <div><h4 class="center"><b>@room.RoomNo</b></h4> </div>
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2 location @(room.RoomSharingType.Equals("Four Room Sharing") ? "" : "five-button")" role="group" aria-label="First group">
                                            @foreach (var locker in rooms.Where(l => l.RoomNo == room.RoomNo).ToList())
                                            {
                                                if (locker.IsBooked == 1)
                                                {
                                                    <a class="btn btn-booked" href="@Url.Action("Edit", "Members", new { MemberID = locker.MemberID })">@locker.LockerNo</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-available" href="@Url.Action("Create", "Members", new { RoomNo = room.RoomNo, LockerNo = locker.LockerNo })">@locker.LockerNo</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                            }
        </div>
    </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2050',
                defaultDate: new Date()
            });
            var d = new Date();
            var n = d.getMonth("mm");
            $(".currentmonth").text(n);
            // Members Count Alert
            function GetMembersCount() {
                $.ajax({
                    url: '@Url.Action("GetMembersCount", "Dashboard")',
                    success: function (data) {
                        $(".memberscount").text(data);
                    }
                });
            }

            function GetIncomeAndExpenseTotal() {
                $.ajax({
                    url: '@Url.Action("IncomeTotal", "Dashboard")',
                    success: function (data) {
                        $(".CreditTotal").text(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("ExpenseTotal", "Dashboard")',
                    success: function (data) {
                        $(".DebitTotal").text(data);
                        if (($(".DebitTotal").text() != "") && ($(".CreditTotal").text() != "")) {
                            // alert("Hi")
                            CalculateTotalAmount();
                        }
                    }
                });
            }
        });
    </script>
}
