﻿@model Xlnc.Models.RoomTransferEditViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{

    <style type="text/css">
        .inner-panel {
            width: 742px;
            margin: 0 auto;
        }

        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }

            .alobin-panel {
                width: 1000px !important;
                margin: 0 auto !important;
            }

            .ui-datepicker-calendar {
                display: none;
            }

            .lockerno-field {
                padding-top: 6px !important;
            }
        }
    </style>
    @using (Html.BeginForm("MemberRoomTransfer", "Room", FormMethod.Post, new { @class = "form" }))
    {
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Room Transfer
                </h4>
                <hr />
            </div>
        </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="GetMembers">Guest No:</label>
                                <input type="text" name="RoomTransfer.MemberNo" id="GetMembers" value="" class="form-control" required />
                                <input type="hidden" name="RoomTransfer.MemberID" id="MemberID" />
                            </div>
                            <div class="col-md-6">
                                <label for="MemberName">Guest Name:</label>
                                <input type="text" name="RoomTransfer.MemberName" id="MemberName" value="" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="BookedRoom">Booked Room:</label>
                                <input type="text" name="Reference" id="BookedRoom" value="" class="form-control" required />
                                <input type="hidden" name="RoomTransfer.FromRoomNo" id="FromRoomNo" />
                                <input type="hidden" name="RoomTransfer.FromLockerNo" id="FromLockerNo" />
                            </div>
                            <div class="col-md-6">
                                <label for="TransferredRoom">Transfer To:</label>
                                <input type="text" name="RentBill" id="TransferredRoom" value="" class="form-control" required />
                                <input type="hidden" name="RoomTransfer.ToRoomNo" id="ToRoomNo" />
                                <input type="hidden" name="RoomTransfer.ToLockerNo" id="ToLockerNo" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="StoreName">Date of Transfer:</label>
                                <input type="text" name="RoomTransfer.TransferredAt" id="TransferredAt" value="" class="form-control datepicker" required />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        <button type="submit" class="btn pull-right" id="form_submit">Submit</button>
                    </div>
                </div>
            </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                //maxDate: new Date(),
            });

            $("#TransferredRoom").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetAvailableRooms", "Room")?filter=' + request.term,
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    label: item.RoomNo + "" + item.LockerNo,
                                    value: item.RoomNo + "" + item.LockerNo,//+ '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName
                                    room: item
                                }
                                //  alert(label);
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    $("#TransferredRoom").val(ui.item.room.RoomNo + "" + ui.item.room.LockerNo);
                    $("#ToRoomNo").val(ui.item.room.RoomNo);
                    $("#ToLockerNo").val(ui.item.room.LockerNo);
                }
            });

            function getMember(memberID) {
                $.ajax({
                    url: '@Url.Action("GetMember", "Members")',
                    data: { MemberID: parseInt(memberID) },
                    success: function (data) {
                        $("#MemberName").val(data.MemberName);
                        $("#MemberID").val(data.MemberID);
                    }
                });
            };

            $("#GetMembers").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetBookedMembers", "Members")?filter=' + request.term,
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    label: item.MemberNo,
                                    value: item.MemberNo,
                                    member: item
                                }
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    //event.preventDefault();
                    $("#MemberName").val(ui.item.member.MemberName);
                    $("#MemberID").val(ui.item.member.MemberID);
                    $("#BookedRoom").val(ui.item.member.RoomNo + "" + ui.item.member.LockerNo);
                    $("#FromRoomNo").val(ui.item.member.RoomNo);
                    $("#FromLockerNo").val(ui.item.member.LockerNo);
                }
            });

            function getMember(memberNo) {
                $.ajax({
                    url: '@Url.Action("GetMemberByMemberNo", "Members")',
                    data: { MemberNo: parseInt(memberNo) },
                    success: function (data) {
                        $("#MemberName").val(data.MemberName);
                        $("#MemberID").val(data.MemberID);
                        $("#Reference").val(data.RoomNo + "" + data.LockerNo);
                        $("#RoomNo").val(data.RoomNo);
                        $("#LockerNo").val(data.LockerNo);
                    }
                });
            }

        });

    </script>
}
