﻿@*@model Xlnc.Models.MagazineEditViewModel*@
@using Xlnc.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{

    <style type="text/css">
        .inner-panel {
                width : 742px;
                margin :0 auto;
            }
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
   @using (Html.BeginForm("Create", "Magazine", FormMethod.Post, new { @class = "form" }))
   {
       // var receipt = Model.ReceiptData;
    <div class="alobin-panel" style="width:1100px;margin:auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a href="@Url.Action("Index", "Magazine")">Magazine subscription</a> &raquo; Create
                        </h4>
                    </div>
                    <div class="col-md-6 right">
                        <!--<a href="@Url.Action("Create", "Magazine", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>-->
                        @*<button type="submit" class="btn">Save Receipt</button>*@
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
            <div>@Html.Raw(ViewBag.Message)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><label for="MemberName">Member Name</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="text" name="Name" id="Name" value="@magazine.Name" class="form-control focus" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="MobileNo">MobileNo</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type='text' class="form-control" name="MobileNo" id="MobileNo" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="MemberName">Telephone No</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="text" name="TelephoneNo" id="TelephoneNo" class="form-control focus" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="MobileNo">Address</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type='text' class="form-control" name="Address" id="Address" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="Area">Area</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="text" name="Area" id="Area" class="form-control focus" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="City">City</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type='text' class="form-control" name="City" id="City" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="Pincode">Pincode</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="text" name="Pincode" id="Pincode" class="form-control focus" required />
                                                </div>
                                                @*<div class="col-lg-2">
                                                        <label for="City">City</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input type='text' class="form-control" name="City" id="City" />
                                                    </div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg CreateMember">Save</button>
                </div>
            </div>
        </div>
    </div>
   }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () 1{
           
           /* GetReceiptNo();
            function GetReceiptNo() {
                $.ajax({
                    url: 'Url.Action("GetInitialNo", "InitialNo")?ResourceType=' + "Receipt",
                    success:function(receiptno) {
                       if (!receiptno == 'NULL' || !receiptno == '') {
                           // alert("Result =" + receiptno.ResourceType);
                            $("#ReceiptNo").val(receiptno.LastNo);
                        }
                     }
                });
            }*/
            ReceiptYear();
            function ReceiptYear() {
                var fromyear = $("#ReceiptFromYear").val();
                var toyear = $("#ReceiptToYear").val();
               // alert("");
                if ((fromyear == '') && (toyear == '')) {
                    @{  string year = @DateTime.Now.Year.ToString();}
                    $("#ReceiptFromYear").val(@year);
                    $("#ReceiptToYear").val(@year);
                      
                    
                }
            }
            $("#MembershipNo").bind('keyup', function (event) {
                //$("input").val('');
                getMembershipNo(event);

            });
            function getMembershipNo(e) {
                //var trtObj = $(e.target).parent();
                $("#MembershipNo").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMembershipNo", "Receipt")',
                            data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {
                                                                      
                                    return {
                                        label: item.MembershipNo + '--' + item.MemberName,
                                        value: item.MembershipNo + '--' + item.MemberName+ '--' + item.StoreAddress+", " +item.StoreArea + ", "+ item.StoreCity+" - " +item.StorePincode + '--'+ item.PhoneNo + "--" + item.StoreName
                                    }
                                  //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                       $("#MembershipNo").val(ui.item.value.split("--")[0]);
                       $("#MemberName").val(ui.item.value.split("--")[1]);
                       $("#Address").val(ui.item.value.split("--")[2]);
                       $("#PhoneNo").val(ui.item.value.split("--")[3]);
                       $("#StoreName").val(ui.item.value.split("--")[4]);
                    }
                });
            }
        });

    </script>

}
  