﻿@model Xlnc.Models.MagazineListViewModel
@using Xlnc.Utils

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        .advanced-search {
            background-color : #eee;
        }
    </style>
    @using (Html.BeginForm("Search", "Insurance"))
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                     <div class="row">
                         <div class="col-md-4">
                            <h4>Magazine Subscription List </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type="hidden" })
                                    @*<span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                       <button class="btn btn-default advanced-button" type="button">Advanced Search</button>
                                    </span>*@
                            </div>
                        </div>     
                          @*<div class="col-md-2">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Print <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                    <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Receipt</a></li>
                                  </ul>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-3 right">
                    <a href="@Url.Action("Create", "Magazine")" class="btn btn-default">Create Subscription</a>
                </div>
              
            </div>
        </div>
          @*<div class="panel-body advanced-search">
                    <div class="col=md-12"> 
                        <div class="col-md-4">
                            <label for="FromDate">From Date</label>
                            <input type="text" class="datepicker" name="FromDate" id="FromDate"/>
                             @Html.TextBox("FromDateReturnValue", Request["FromDate"], new { @class = "form-control", @type="hidden" })
                        </div>
                        <div class="col-md-4">
                            <label for="ToDate">To Date</label>
                            <input type="text" class="datepicker" name="ToDate" id="ToDate"/>
                             @Html.TextBox("ToDateReturnValue", Request["ToDate"], new { @class = "form-control", @type="hidden" })
                        </div>
                        <div class="col-md-2">
                             <button class="btn btn-default"  type="submit">Go!</button>
                        </div>
                    </div>
         </div>*@
        <div class="panel-body">
             <div class="row">
                          <div class="col-md-7">

                                @Html.BootstrapPager(Model.Magazines.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Magazine",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Magazines.ItemsPerPage,
                                                                Query = Request["Query"],
                                                            }),
                                        Model.Magazines.TotalItems,
                                        Model.Magazines.ItemsPerPage,
                                        Model.Magazines.TotalPages)
                            </div>
                          <div class="col-md-5">
                                Showing @Model.Magazines.Items.Count of @Model.Magazines.TotalItems member(s)
                            </div>
                        </div>
            <div class="row">
                  
                 <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>MobileNo</th>
                                        <th>Area</th>
                                        <th>Pincode</th>
                                        @*<th>Paid Date</th>*@
                                        @*<th>Insurance For the Year</th>*@
                                        <th>Edit / Delete / Print</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Magazine in Model.Magazines.Items)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Edit", "Magazine", new {MagazineSubscriptionID = @Magazine.MagazineID})">@Magazine.Name</a></td>
                                            <td><a href="@Url.Action("Edit", "Magazine", new {InsuranceID = @Magazine.MagazineID})">@Magazine.MobileNo</a></td>
                                            <td>@Magazine.Area</td>
                                            <td>@Magazine.Pincode</td>
                                            @*<td>@Magazine.ReceiptDate.ToString("dd/MM/yyyy")</td>
                                            <td>@Receipt.ReceiptFromYear - @Receipt.ReceiptToYear</td>*@
                                            <td>@*<a href="#" class="DeleteReceipt"><input type="hidden" class="DeleteInsuranceID" value="@Receipt.InsuranceID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                / *@
                                                <a href="@Url.Action("Edit", "Magazine", new {InsuranceID = @Magazine.MagazineID})"><span class="glyphicon glyphicon-edit"></span></a> /
                                                <a href="#" class="DeleteInsurance"><input type="hidden" class="DeleteInsuranceID" value="@Magazine.MagazineID"> <span class="glyphicon glyphicon-trash"></span></a> /
                                                <a href="#" class="PrintSingleReceipt"><input type="hidden" class="PrintSingleInsuranceID" value="@Magazine.MagazineID"> <span class="glyphicon glyphicon-print"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                          <div class="col-md-7">

                                @Html.BootstrapPager(Model.Magazines.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Insurance",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Magazines.ItemsPerPage,
                                                                Query = Request["Query"],
                                                            }),
                                        Model.Magazines.TotalItems,
                                        Model.Magazines.ItemsPerPage,
                                        Model.Magazines.TotalPages)
                            </div>
                          <div class="col-md-5">
                                Showing @Model.Magazines.Items.Count of @Model.Magazines.TotalItems member(s)
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>                 
}
    }
@section Scripts {
     <script type="text/javascript">

         jQuery(document).ready(function () {
             $('.datepicker').datepicker({
                 dateFormat: "yy-mm-dd",
             });
             $(".advanced-search").hide();
             var fromdate = $("#FromDateReturnValue").val();
             var todate = $("#ToDateReturnValue").val();
             if ((fromdate != "") || (todate != "")) {
                 $(".advanced-search").show();
                 $("#FromDate").val(fromdate);
                 $("#ToDate").val(todate);
             } else if ((fromdate == "") || (todate == "")) {
                  $(".advanced-search").hide();
             }

             $(".DeleteInsurance").click(function () {
                 var InsuranceID = $(this).find(".DeleteInsuranceID").val();
                 if (confirm("Are you sure want to delete the Insurance ?")) {
                     $.ajax({
                         url: '@Url.Action("Delete", "Insurance")?ID='+InsuranceID,
                         success: function (DeleteReceipt) {
                             location.reload();
                         }
                     });
                 } else {
                     return false;
                 }
             });

             // Receipt Single Print
             $(".PrintSingleReceipt").click(function () {
                 var InsuranceID = $(this).find(".PrintSingleInsuranceID").val();
                 window.open('@Url.Action("InsuranceReceiptSinglePrint", "Insurance")?InsuranceID=' + InsuranceID +'&MemberID=0', '_blank', "width=900, height=600");
             });

             var RequestQuery = $("#RequestQuery").val();
             if (RequestQuery != null) {
                 $("#Query").val(RequestQuery);
             }

             $(".advanced-button").click(function () {
                 $(".advanced-search").toggle("slow");
             });


             $(".PrintReceiptDetails").click(function () {
                 window.open('@Url.Action("InsuranceReceiptListPrint", "Insurance")?Query=' + RequestQuery + '&FromDate=' + fromdate + '&ToDate=' + todate + '&PrintOption=PrintReceiptList', '_blank', "width=900, height=600");
                 
             });
         });
     </script>
}
  