﻿@model Xlnc.Models.ReceiptEditViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@*@{ Screencustomization Start_Date = (Screencustomization)ViewData["Start_Date"];
    if (Start_Date == null)   {
        Start_Date = new Screencustomization();
    }

    Screencustomization End_Date = (Screencustomization)ViewData["End_Date"];
    if (End_Date == null)
    {
        End_Date = new Screencustomization();
    }

    }*@
@section Content
{

    <style type="text/css">
        .inner-panel {
            width: 742px;
            margin: 0 auto;
        }

        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }

            .alobin-panel {
                width: 1000px !important;
                margin: 0 auto !important;
            }

            .ui-datepicker-calendar {
                display: none;
            }

            .lockerno-field {
                padding-top: 6px !important;
            }
        }
    </style>
    @using (Html.BeginForm("Create", "Receipt", FormMethod.Post, new { @class = "form" }))
    {
        var receipt = Model.ReceiptData;
        <div class="alobin-panel" style="width:1000px; margin:0 auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("Index", "Receipt")">Reciepts</a> &raquo; Create
                            </h4>
                        </div>
                        <div class="col-md-6 right">
                            <a href="@Url.Action("Index", "Receipt", new { locale = "tn" })" class="btn btn-default">Receipts List</a>
                            @*<button type="submit" class="btn">Receipt List</button>*@
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div>@Html.Raw(ViewBag.Message)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="alert">
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <input type="hidden" name="MemberID" id="MemberID" value="@Model.ReceiptData.MemberID" />
                            <input type="hidden" name="ReceiptID" id="ReceiptID" value="@Model.ReceiptData.ReceiptID" />
                            <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="@Model.ReceiptData.ReceiptNo" />
                            @if (Model.ReceiptData.ReceiptID <= 0)
                            {
                                <div class="col-md-6">
                                    <label for="">  </label>
                                    <div class="input-group lockerno-field">
                                        <label class="input-group-addon lockerno-field">Locker No: </label>
                                        <input type="hidden" name="RoomNo" id="RoomNo" value="" />
                                        <input type="hidden" name="LockerNo" id="LockerNo" value="" />
                                        <input type="text" name="Reference" id="Reference" value="" class="form-control lockerno-field" placeholder="" required />

                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="">  </label>
                                <div class="input-group lockerno-field">
                                    <label class="input-group-addon lockerno-field">Bill Date:  </label>
                                    <input type="text" class="datepicker form-control" name="ReceiptDate" id="ReceiptDate" value="@(Model.ReceiptData.ReceiptDate !=null ? Model.ReceiptData.ReceiptDate.Value.ToShortDateString() : DateTime.Now.ToShortDateString())" />
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="MemberName">Name:</label>
                                <input type="text" name="MemberName" id="MemberName" value="@Model.ReceiptData.MemberName" class="form-control" required />
                            </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="MemberName">Category:</label>
                                <select class="form-control" id="Category" name="CategoryID">
                                    @foreach (var category in Model.Categorys)
                                    {
                                        <option value="@category.CategoryID">@category.CategoryName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="ForMonth">For Month:</label>
                                <select class="form-control" id="ReceiptForMonth" name="ReceiptForMonth">
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="PaidAmount">Amount</label>
                                <input type="text" name="PaidAmount" id="PaidAmount" class="form-control" value="@Model.ReceiptData.PaidAmount" />
                            </div>
                            <div class="col-md-6">
                                <label for="PaymentMode">Payment Mode</label>
                                <select class="form-control" id="PaymentMode" name="PaymentMode">
                                    <option value="Cash">Cash</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="DD">DD</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="TransactionType">Transaction Type:</label>
                                <select class="form-control" id="TransactionType" name="TransactionType">
                                    <option value="Cash">Cash</option>
                                    <option value="Bank">Bank</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="Description">Description:</label>
                                <textarea rows="3" name="Description" id="Description" value="" class="form-control" required>@Model.ReceiptData.Description</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        <button type="submit" class="btn pull-right" id="form_submit">Save Receipt</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>

    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            //$('.datepicker').datepicker({
            //    dateFormat: "dd/mm/yy"
            //    maxDate: new Date(),
            //});
            @if (Model.ReceiptData.ReceiptID > 0) {
                <text>
                    $("#Category").val("@Model.ReceiptData.CategoryID");
                    $("#ReceiptForMonth").val("@Model.ReceiptData.ReceiptForMonth");
                    $("#PaymentMode").val("@Model.ReceiptData.PaymentMode"); 
                    $("#TransactionType").val("@Model.ReceiptData.TransactionType");
                </text>
            }

            $("#Reference").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetOccupiedRooms", "Room")?filter=' + request.term,
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    label: item.RoomNo + "" + item.LockerNo,
                                    value: item.RoomNo + "" + item.LockerNo,//+ '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName
                                    room: item
                                }
                                //  alert(label);
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    //event.preventDefault();
                    $("#Reference").val(ui.item.room.RoomNo + "" + ui.item.room.LockerNo);
                    $("#RoomNo").val(ui.item.room.RoomNo);
                    $("#LockerNo").val(ui.item.room.LockerNo);
                    $("#MemberID").val(ui.item.room.MemberID);
                    getMember(ui.item.room.MemberID);
                }
            });

            function getMember(memberID) {
                $.ajax({
                    url: '@Url.Action("GetMember", "Members")',
                    data: { MemberID: parseInt(memberID) },
                    success: function (data) {
                        $("#MemberName").val(data.MemberName);
                    }
                });
            }



        });

    </script>
}
