﻿@*@model Xlnc.Models.ReceiptEditViewModel*@
@using Xlnc.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@{ Screencustomization Start_Date = (Screencustomization)ViewData["Start_Date"];
   if (Start_Date == null)   {
       Start_Date = new Screencustomization();
   }

   Screencustomization End_Date = (Screencustomization)ViewData["End_Date"];
   if (End_Date == null)
   {
       End_Date = new Screencustomization();
   }
       
   }
@section Content
{

    <style type="text/css">
        .inner-panel {
                width : 742px;
                margin :0 auto;
            }
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
      @using (Html.BeginForm("Create", "Receipt", FormMethod.Post, new { @class = "form" }))
      {
          var receipt = Model.ReceiptData;
    <div class="inner-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a href="@Url.Action("Index", "Receipt")">Reciepts</a> &raquo; Edit      
                        </h4>
                    </div>
                    <div class="col-md-6 right">
                        <a href="@Url.Action("Index", "Receipt", new { locale = "tn" })" class="btn btn-default">Receipts List</a>
                        @*<button type="submit" class="btn">Receipt List</button>*@
                    </div>
                    <div class="col-md-6 right">
                        <!--<a href="@Url.Action("Create", "Receipt", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>-->
                        @*<button type="submit" class="btn">Save Receipt</button>*@
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
            <div>@Html.Raw(ViewBag.Message)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label>Bill Date: &nbsp; </label>
                            <input type="text" class="datepicker" style="width:82%" name="ReceiptDate" id="ReceiptDate" value="@receipt.ReceiptDate.ToString("dd/MM/yyyy")" />
                        </div>                        
                    </div>                
                    <div class="col-md-3">
                        @*<div class="input-group">
                            <label class="input-group-addon">Bill No: </label>
                            <input type="text" name="ReceiptBillNo" id="ReceiptBillNo" value="@receipt.ReceiptBillNo" class="form-control" placeholder="" />
                        </div>*@
                    </div>
                    @*<div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">Reference ID: </label>
                            <input type="text" name="MemberNo" id="MemberNo" value="@receipt.MemberNo" class="form-control" placeholder="" readonly/>
                            <input type="hidden" name="ReceiptID" id="ReceiptID" value="@receipt.ReceiptID" />
                            <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="@receipt.ReceiptNo" />
                            <input type="hidden" name="MemberID" id="MemberID" value="@receipt.MemberID"/>

                        </div>
                    </div>*@
                    @*<div class="col-md-5 ">
                        <div class="input-group col-md-12">
                            <label class="input-group-addon">Category </label>
                            <select class="form-control" name="CategoryID" id="CategoryID">
                                
                                @foreach (var category in Model.Categorys)
                                {
                                    if(@receipt.CategoryID == @category.CategoryID)
                                    {
                                        <option value="@category.CategoryID" selected="selected">@category.CategoryName</option>}
                                    }
                                }
                            </select>*@
                                @*<input type="text" name="MemberNo" id="MemberNo" value="" class="form-control" placeholder="" required />*@
@*</div>

                    </div>*@
                  
                    <div class="clearfix">&nbsp;</div>

                    @*<div class="col-md-4">
                        <div class="input-group">
                            <!--<label class="input-group-addon">Receipt No: </label>
                            <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="" class="form-control" placeholder="" />-->
                    </div>
                    </div>*@              
              
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="MemberName"> </label>
                            <div class="input-group lockerno-field">
                                <label class="input-group-addon lockerno-field">Locker No: </label>
                                <input type="text" name="Reference" id="Reference" value="" class="form-control lockerno-field" placeholder="" required />
                                <input type="hidden" name="MemberID" id="MemberID" value="" />
                                <input type="hidden" name="ReceiptID" id="ReceiptID" value="" />
                                <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="MemberName">Name:</label>
                            <input type="text" name="MemberName" id="MemberName" value="@receipt.MemberName" class="form-control" required />
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="StorePincode">Current:</label>
                            <input type="text" name="StorePincode" id="StorePincode" value="@receipt.StorePincode" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label for="ReceiptFromYear">Bill for the Month (Current):</label>
                            <input type="text" name="ReceiptFromYear" id="RentReceipt" value="@receipt.ReceiptFromYear.ToString("dd/MM/yyyy")" class="form-control" required />
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label for="MemberName">Rent:</label>
                            <input type="text" name="PaidAmount" id="PaidAmount" class="form-control" required value="@receipt.PaidAmount"/>
                        </div>
                        <div class="col-md-6">
                            <label for="ReceiptToYear">Bill for the Month (Rent):</label>
                            <input type="text" name="ReceiptToYear" id="CurrentReceipt" value="@receipt.ReceiptToYear.ToString("dd/MM/yyyy")" class="form-control" required />
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label for="StoreName">Description:</label>
                            <input type="text" name="StoreName" id="StoreName" value="@receipt.StoreName" class="form-control" required />
                        </div>
                    </div>                   
                    <div class="clearfix">&nbsp;</div>                   
                    <div class="col-md-12">
                         <button type="submit" class="btn pull-right">Save Receipt</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
      }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var startDateTimeElement = $(document).find("#RentReceipt");
            var endDateTimeElement = $(document).find("#CurrentReceipt");
            var receiptDateElement = $(document).find("#ReceiptDate");
            var startTime = "";
            $(startDateTimeElement).datetimepicker({
                format: 'd/m/Y',//'d/m/Y h:i A'
                defaultSelect: true,
                timepicker: false,
                step: 5,

            });
            $(endDateTimeElement).datetimepicker({
                format: 'd/m/Y',
                defaultSelect: true,
                timepicker: false,
                step: 5,


            });
            $(receiptDateElement).datetimepicker({
                format: 'd/m/Y',
                defaultSelect: true,
                timepicker: false,
                step: 5,
            });

           /* var startDateTimeElement = $(document).find("#ReceiptFromYear");
            var endDateTimeElement = $(document).find("#ReceiptToYear");
            var startTime = "";
            $(startDateTimeElement).datetimepicker({
                format: 'd/m/Y',//'d/m/Y h:i A'
                defaultSelect: true,
                timepicker: false,
                step: 5,
                onShow: function (ct) {
                    this.setOptions({
                        formatDate: 'd/m/Y H:i',
                       // minDate: 0,
                        //interval: 30,
                        //step: 30,
                        //maxDate: $(endDateTimeElement).val() ? $(endDateTimeElement).val() : false,
                        // minTime: mintime
                    })
                },                
                allowBlank: true,
                lang: 'en',
            });
            $(endDateTimeElement).datetimepicker({
                format: 'd/m/Y',
                defaultSelect: true,
                timepicker: false,
                step: 5,
                onShow: function (ct) {
                    this.setOptions({
                        formatDate: 'd/m/Y H:i',
                       // minDate: $(startDateTimeElement).val() ? $(startDateTimeElement).val() : false,
                        //interval: 30,
                        //step: 30,
                       // minTime: startTime
                    })
                },
                allowBlank: true,
                lang: 'en',

            });*/
           /* GetReceiptNo();
            function GetReceiptNo() {
                $.ajax({
                    url: 'Url.Action("GetInitialNo", "InitialNo")?ResourceType=' + "Receipt",
                    success:function(receiptno) {
                       if (!receiptno == 'NULL' || !receiptno == '') {
                           // alert("Result =" + receiptno.ResourceType);
                            $("#ReceiptNo").val(receiptno.LastNo);
                        }
                     }
                });
            }*/
            ReceiptYear();
            function ReceiptYear() {
                var fromyear = $("#ReceiptFromYear").val();
                var toyear = $("#ReceiptToYear").val();
               // alert("");
                if ((fromyear == '') && (toyear == '')) {
                    @{  string year = @DateTime.Now.Year.ToString();}
                    $("#ReceiptFromYear").val(@year);
                    $("#ReceiptToYear").val(@year);
                      
                    
                }
            }
            $("#MemberNo").bind('keyup', function (event) {
                //$("input").val('');
                getMembershipNo(event);

            });
            $("#StoreStartingYear").bind('keyup', function (event) {
                var startingyear = $(this).val();
                var currentTime = new Date();
                var year = currentTime.getFullYear();
                var month = currentTime.getMonth() + 1
                var experience = parseFloat(year) - parseFloat(startingyear);
                if (experience > 0) {
                    $("#TotalExperience").val(experience);
                }
                else {
                    $("#TotalExperience").val("6 months");
                }

            });
            function getMembershipNo(e) {
                //var trtObj = $(e.target).parent();
                $("#MemberNo").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMembershipNo", "Receipt")',
                            data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {
                                                                      
                                    return {
                                        label: item.MembershipNo + '--' + item.MemberName,
                                        value: item.MembershipNo + '--' + item.MemberName+ '--' + item.StoreAddress+", " +item.StoreArea + ", "+ item.StoreCity+" - " +item.StorePincode + '--'+ item.MobileNo + "--" + item.StoreName
                                    }
                                  //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                       $("#MembershipNo").val(ui.item.value.split("--")[0]);
                       $("#MemberName").val(ui.item.value.split("--")[1]);
                       $("#Address").val(ui.item.value.split("--")[2]);
                       $("#MobileNo").val(ui.item.value.split("--")[3]);
                       $("#StoreName").val(ui.item.value.split("--")[4]);
                    }
                });
            }
        });

    </script>

}
  