﻿@model List<Xlnc.Models.Receipt>
@{
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style>
    .page {
        width: auto;
        min-height: 297mm;
        padding: 2mm;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }


    @@page {
        size: A4;
        /*margin: 10mm 20mm 20mm 5mm;*/
    }

    @@media print {

        .page {
            /*margin: 40pt 80pt 20pt 40pt;*/
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>
<div class="page">
    <div class="main-content">
        <div class="main-header text-center">
            <!-- <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" alt="Logo" style="width:6%;"/>&nbsp;&nbsp;&nbsp;Motorcycle Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>-->
            <img src="~/Content/Images/logo.png" class="Receipt_Header"  alt="Receipt Header" />
        </div>
        <br>
        <div class="col-md-12">
            <h4>Receipts List</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="Receipt-table">
                    <thead>
                        <tr>
                            <th>Guest Name</th>
                            <th>Locker No</th>
                            <th>Category</th>
                            <th>Receipt Date</th>
                            <th>For the Month</th>
                            <th>Amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Receipt in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            <tr>
                                <td>@Receipt.Data.MemberName</td>
                                <td>@Receipt.Data.RoomNo@Receipt.Data.LockerNo</td>
                                <td>@Receipt.Data.CategoryName</td>
                                <td>@Receipt.Data.ReceiptDate.Value.ToString("dd/MM/yyyy")</td>
                                <td>@Receipt.Data.ReceiptForMonth</td>
                                <td class="ReceiptAmount">@Receipt.Data.PaidAmount</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <b>Total Amount Received Rs.<span class="TotalValue"></span></b><br>
                <b>Total Receipt Count = <span class="TotalCount"></span></b>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {
        //alert($("#ReceiptAmount").text() + " Receipt Amount");
        function CalculateTotalAmount() {
            // alert($(".ReceiptAmount").text() + " Receipt Amount");
            var total = 0, count = 0;
            $(".ReceiptAmount").each(function () {
                //alert($(this).text());
                var receiptamount = $(this).text();
                count++;
                total = total + parseFloat(receiptamount);
                //alert(total);
                //receiptamount = receiptamount + parseFloat($(this).find('.ReceiptAmount').length == 0 || !$(this).find('.ReceiptAmount').html() ? 0 : $(this).find('.ReceiptAmount').html());
                $('.TotalValue').html(total);
                $('.TotalCount').html(count);
            });
            return total;
            $('.TotalValue').html(total);
            // alert(total);
        }
        CalculateTotalAmount();

        function CalculateGrandTotal() {
            var grandTotal = 0.0;
            $('#GridView1 tr:gt(0)').each(function () {
                grandTotal = grandTotal + parseFloat($(this).find('.totalPrice').length == 0 || !$(this).find('.totalPrice').html() ? 0 : $(this).find('.totalPrice').html());
            });
            $('#GridView1 .grandtotal').html(grandTotal);
        }
    });
</script>