﻿@model Xlnc.Models.ReceiptEditViewModel
@using Xlnc.Models;

@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var receipt = Model.ReceiptData;

}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

@{ Screencustomization Start_Date = (Screencustomization)ViewData["Start_Date"];
    if (Start_Date == null)
    {
        Start_Date = new Screencustomization();
    }

    Screencustomization End_Date = (Screencustomization)ViewData["End_Date"];
    if (End_Date == null)
    {
        End_Date = new Screencustomization();
    }

}

<style>
    .panel-body {
        margin: auto;
        width: 80%;
        border: 1px solid #dcdcdc;
        padding: 11px;
        border-radius: 4px;
        font-size: 12px !important;
    }

    .signature {
        width: 25%;
        text-align: center;
    }

    .table-signature {
        width: 100%;
    }

    .Receipt_Header {
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px dotted #dcdcdc;
    }
</style>
<div class="panel-body">
    @*<div class="main-header">
            <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" style="width:9%;" alt="Logo" /> Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>
        </div>*@
    <div class="main-header">
        <img src="~/Content/Images/logo.png" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <hr />
    @if (@receipt != null)
    {
        <div class="text-center">
            <span class="btn" style="border: 1px solid #777;margin:0 auto;">Receipt</span>
        </div>
        <div>
            <b>Member No:</b>
            <span class="MembershipNo bottom-border">@receipt.MemberID</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="pull-right">
                <b>Receipt Date : </b>
                <span class="bottom-border">@receipt.ReceiptDate.Value.ToShortDateString()</span>
            </span>
            @*
                <span class="pull-right ">
                    <b>Telephone No :</b>
                    <span class="bottom-border"> +91 - 9841892001</span>
                </span>
            *@
        </div>
        @*
            <div>
                <span class="pull-left">
                    <b> Receipt ID :</b>
                    <span class="bottom-border">@receipt.ReceiptID</span>
                </span>
                <span class="pull-right">
                    <b>Date :</b>
                    <span class="bottom-border"> @receipt.ReceiptDate.Value.ToString("dd/MM/yyyy")</span>
                </span>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div>
                <span class="pull-left">
                    <b>Receipt Date : </b>
                    <span class="bottom-border">@receipt.ReceiptDate</span>
                </span>
            </div>
            <br />
        *@
        <div>
            <span class="pull-left">
                <b>Name : </b><span class="bottom-border">@receipt.MemberName</span>
            </span>
        </div>
        <br />
        <div>
            <span class="pull-left">
                <b>Locker No:</b>
                <span class="bottom-border">@receipt.RoomNo@receipt.LockerNo</span>
            </span>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div>
            <span class="pull-left">
                <b>@receipt.CategoryName :</b>
                <span class="bottom-border">@receipt.PaidAmount</span>
            </span>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div>
            <span class="pull-left">
                <b>Description:</b>
                <span class="bottom-border">@receipt.Description</span>
            </span>
        </div>
        <div class="clearfix">&nbsp;</div>

    }
    else
    {
        <h2>Sorry No Receipt available for this MembershipNo</h2>
    }
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var mebershipno = $(".MembershipNo").text();
        // alert(mebershipno);
        if (!mebershipno == null || !mebershipno == "") {
            window.print();
        }

    });

</script>