﻿@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        @@media print {

            .panel {
                display: block;
            }
            #sidebar-wrapper {
                display: none;
            }
            #wrapper {
                padding-left: 0;
            }
        }
    </style>
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Reciept
                <a href="@Url.Action("Create", "Members")" class="btn btn-default btn-lg pull-right">Save Receipt</a></h2>
                <div class="clearfix">&nbsp;</div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p></p>
                        <hr />
                        <div class="text-center">
                            <p class="pull-left"><input type="text" name="memberName" value="" class="form-control" placeholder="உறுப்பினர் எண்: " /></p>
                            <div class="clearfix">&nbsp;</div>
                            <p class="pull-left"><input type="text" name="memberName" value="" class="form-control" placeholder="ரசீது எண்: " /></p>
                            <button class="btn" style="border: 1px solid #777">ரசீது</button>
                            <p class="pull-right">தேதி: @DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        பெயர்:
                        <input type="text" name="memberName" value="" class="form-control" />
                    </div>
                    <div class="col-md-5">
                        <span class="glyphicon glyphicon-earphone"></span>
                        <input type="text" name="phoneNo" value="" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        முகவரி:
                        <input type="text" name="address" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        அவர்களிடமிருந்து ..20............. ஆண்டு உறுப்பினர் கட்டணம் ரூபாய் இருநூற்று ஐம்பது  மட்டும்  அன்புடன் பெற்றுக்கொண்டோம்.
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
}