/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    /*padding-top: 51px;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 180px; /*250px;*/
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 180px; /*250px;*/
    width: 0;
    height: 100%;
    margin-left: -180px; /*-250px;*/
    overflow-y: auto;
    background: #444; /*#2f323e;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px; /*250px;*/
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*margin-top: -51px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px; /*-250px;*/
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px; /*250px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 10px; /*20px;*/
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8); /*#999999;*/
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: #9E9E9E /*#2cabe3*/;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #ffffff;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

        #wrapper.toggled {
            padding-left: 180px; /*250px;*/
        }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 180px; /*250px;*/
    }

    #page-content-wrapper {
        /*padding: 5px;
        position: relative;
		margin-top: 40px;
		padding: 15px;*/
        padding-top: 100px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        position: relative;
    }
    /*#page-content-wrapper-room {
		padding-top: 100px !important;	
        padding-left: 16px !important;
		padding-right: 16px !important;
        position: relative;
    }*/

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
