/*General Styles*/
/*SideBar Styles*/
/*1.Room Styles*/
/*2.Registration Styles*/
/*3.Receipt Styles*/
/*4.Expense Styles*/
/*5.Income Styles*/
/*6.Account Styles*/
/*7.RoomTransfer Styles*/
/*8.History Styles*/
/*9.Dashboard Styles*/

/*General Styles*/
	body{
		background-color: #f9f9f9; 
	}
	.page-header{
		margin: 15px 0 20px !important;
	}
	.active{
		color:#ffffff !important;
		background-color: #9E9E9E /*#2cabe3*/;
	}	
	.container-custom{
		/* background-color: rgba(3, 169, 244, 0.45); */
		/* background-color:rgba(16, 15, 14, 0.85); */
		background-color:#ffffff;
		box-shadow: 2px 2px 3px #d2d2d2;
	}
	.container-shadow {		
	}
	.page-header a{
		color:#000;
	}	
	.panel-head{
		color:#000;
	}	
	.sidebar-brand{
		background-color:#f5f5f5;
	}
	.header-color{
		background-color:#61d2e3;
	}
	.well {
		min-height: 20px;
		padding: 12px !important;
		margin-bottom: 20px;
		background-color: #fefefe;
		color:#000;
		border: 1px solid #ffffff;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	}
	.navbar {
		/*position: relative;*/
		min-height: 50px;
		margin-bottom: 20px;
		border: 1px solid #f5f5f5;
		padding:7px 10px;
		background-color:#fefefe;
		margin-left:180px;
	}	
	.btn-default {   
		border: none  !important;}
		
	@media (min-width: 1200px){
		.container-custom {
			width: 970px !important; 
		}		
	}	
	.min-col-gutter {
		padding-left: 10px;
		padding-right: 10px;
	}
	.min-row-gutter {
		margin-left: -10px;
		margin-right: -10px;
	}
/*SideBar Styles*/

	.sidebar-toggle-container {
		background-color: #f8f8f8;
		border-color: #e7e7e7;top: 0;
		border-width: 0 0 1px;
		min-height: 50px;
		/* margin-bottom: 20px; */
		border: 1px solid transparent;
	}
	.sidebar-menu-toggle {
		float: right;
		padding: 11px 15px 11px 0px;
		background: transparent;
	}
	.sidebar-menu-toggle .btn-toggle {
		padding: 6px 10px;
	}
	.sidebar-menu-toggle .icon-bar {
		background-color: #888;
		display: block;
		width: 15px;
		height: 2px;
		border-radius: 1px;
		margin-bottom: 4px;
	}
    .sidebar-menu-toggle .icon-bar.last {
		margin-bottom: 0px !important;
    }
	
/* 1. Rooms Style */

    #room h4 {
           text-align: center !important;
           color: #000000 !important;
       }
    #room .btn-secondary {
		color: #ffffff;
		background-color: #9E9E9E /*rgba(92, 184, 92, 0.81)*/ !important;
		border-color: /*#444 !important;*/ rgba(68, 68, 68, 0.38) !important;
	}
	#room .btn-secondary:hover {
		color: #ffffff;
		font-weight: bold;
		background-color: rgba(158, 158, 158, 0.44) !important;
	}
    #room .btn-booked {
        color: #ffffff;
        background-color: #f44336/*#ff4d4d*/ !important;
        border-color: #cc0000 !important;
    }
	
    .room.thumbnail {
        background-color: #f2f2f2 !important;
		border: none;
    }

    .thumbnail.fiveroom,
	.thumbnail.room {
		padding: 15px 20px 15px 15px;
	}	
	
	.btn-toolbar>.btn-group{
        margin-left: 12px !important;
	}
	.btn-toolbar {
		margin-left: -19px !important;
	}
	.rooms-container{
		padding:0 15px;
	}
	
	@media (min-width: 768px){		
		.thumbnail.room {
			padding: 15px 14px 10px 10px !important;
			}
		} 
	
/* 2. Registration Style*/

	.reg-margin{
	  margin: 7px 0 20px !important;
	}
	.btn-primary {
		color: #fff !important;
		background-color: #2cabe3;
		border-color: #2cabe3;
	}
/*8. History Page Style*/

	.head-color{
	  color: #f44336 !important;
	}
/*9. Dashboard Styles*/
.table-info-block .table-info-type {
    font-size: 11px;
}

.table-info-block .table-info-data {
    font-size: 1.7em;
    font-weight: 400;
    padding-top: 10px;
}